.preloader {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-primary;
  z-index: 999;
  overflow: hidden;
  pointer-events: auto;
  opacity: 1;
  transition: opacity .3s ease;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

	&__counter {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		font-size: rem(12);
		color: $color-white;

		[data-preloader-counter-number] {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%);
			opacity: 0;
		}

		&-value {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
		}
	}

	&__logo {
		display: none;
		padding-top: rem(23);
		padding-left: rem(90);
		@include media-breakpoint-down(sm) {
			width: rem(200);
			height: rem(200);
			svg {
				width: 100%;
				height: 100%;
			}
		}
		.logo__circle {
			opacity: 0;
		}
		.logo__lines {
			opacity: 0;
		}

		.logo__text {
			opacity: 0;
		}
	}

	&__circle {
		position: absolute;
		svg circle {
			stroke-dasharray: 500;
			stroke-dashoffset: 500;
			transform: rotate(-90deg);
			transform-origin: center;
		}
	}
}
