.factor-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	&--layout-1 {
		// TODO: доработать когда будет известен отступ у контейнера справа для md и lg

		margin-top: rem(-24);
		margin-bottom: rem(-24);

		@include media-breakpoint-only(sm) {
			margin-left: calc(100vw / 12 * -1);
			margin-right: calc(100vw / 12 * -1);
		}

		@include media-breakpoint-only(md) {
			margin-right: calc(100vw / 24 * -2);
			margin-left: calc(100vw / 24 * -2);
		}

		@include media-breakpoint-up(lg) {
			margin-right: calc(100vw / 24 * -1);
			margin-left: calc(100vw / 24 * -1);
		}

		.factor {
			padding-top: rem(24);
			padding-bottom: rem(24);

			@include media-breakpoint-only(sm) {
				padding-left: $col-1-of-12;
				padding-right: $col-1-of-12;
			}

			@include media-breakpoint-only(md) {
				padding-left: calc(100vw / 24 * 2);
				padding-right: calc(100vw / 24 * 2);
				width: 50%;
			}

			@include media-breakpoint-up(lg) {
				width: 25%;
				padding-left: calc(100vw / 24 * 1);
				padding-right: calc(100vw / 24 * 1);
			}
		}
	}

	&--layout-2 {
		margin-top: rem(-24);
		margin-bottom: rem(-24);

		@include media-breakpoint-only(sm) {
			margin-left: calc(100vw / 12 * -1);
			margin-right: calc(100vw / 12 * -1);
		}

		@include media-breakpoint-only(md) {
			margin-right: calc(100vw / 24 * -1);
			margin-left: calc(100vw / 24 * -1);
		}

		@include media-breakpoint-up(lg) {
			margin-right: calc(100vw / 24 * -1);
			margin-left: calc(100vw / 24 * -1);
		}

		.factor {
			padding: rem(24) $col-1-of-12;
			width: 50%;

			@include media-breakpoint-up(md) {
				padding-left: calc(100vw / 24 * 1);
				padding-right: calc(100vw / 24 * 1);
				width: 33.33%;
			}

			@include media-breakpoint-up(lg) {
				padding-left: calc(100vw / 24 * 1);
				padding-right: calc(100vw / 24 * 1);
			}
		}
	}
}
