.hero-404 {
  $b: #{&};

  position: relative;
	height: 100vh;

  &__image {
		display: flex;
		align-items: center;
		padding-top: rem(36);

		span {
			position: relative;
			font-size: rem(352);
			line-height: 1;
			color: $color-white;
			z-index: 1;
			@include media-breakpoint-down(md) {
				font-size: rem(240);
			}
			@include media-breakpoint-down(sm) {
				font-size: rem(128);
			}

			&:first-child {
				margin-right: rem(-40);
				@include media-breakpoint-up(md) {
					margin-right: rem(-96);
				}
				@include media-breakpoint-up(lg) {
					margin-right: rem(-130);
				}
			}
			&:last-child {
				margin-left: rem(-40);
				@include media-breakpoint-up(md) {
					margin-left: rem(-96);
				}
				@include media-breakpoint-up(lg) {
					margin-left: rem(-130);
				}
			}
		}

		.image {
			width: rem(506);
			height: rem(332);
			@include media-breakpoint-down(md) {
				width: rem(333);
				height: auto;
				object-fit: cover;
			}
			@include media-breakpoint-down(sm) {
				width: rem(180);
			}
		}
  }

  &__inner {
    position: relative;
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: space-between;
		@include media-breakpoint-down(md) {
			flex-direction: column-reverse;
			justify-content: center;
			align-items: initial;
		}
  }

  &__content {
    @include media-breakpoint-up(lg) {
			width: rem(350);
			flex-shrink: 0;
    }
  }

  &__heading {
    @include media-breakpoint-up(md) {
      display: flex;
    }
  }

  &__text {
    margin-top: rem(16);
    @include text-default;

    @include media-breakpoint-up(md) {
      margin-top: rem(24);
      max-width: rem(390);
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    margin-top: rem(40);

    @include media-breakpoint-only(sm) {
			margin-top: rem(24);
      .btn {
        width: 100%;
        margin-bottom: rem(8);
      }
    }

    @include media-breakpoint-up(md) {
      flex-direction: row;

      .btn {
        margin-right: rem(32);
      }
    }
  }
}
