<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>

    {# generated on https://realfavicongenerator.net/ #}
    <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
    <link rel="manifest" href="./site.webmanifest">
    <link rel="mask-icon" href="./safari-pinned-tab.svg" color="#f28610">
    <meta name="msapplication-TileColor" content="#f28610">
    <meta name="theme-color" content="#f28610">
	<meta name="format-detection" content="telephone=no">

	<link href="css/vendors~index.chunk.css?{{ date().getTime() }}" rel="stylesheet">
	<link href="css/index.css?{{ date().getTime() }}" rel="stylesheet">
	<link href="css/components.css?{{ date().getTime() }}" rel="stylesheet">
	<noscript>
		<style>
			.simplebar-content-wrapper {
				overflow: auto;
			}
		</style>
	</noscript>
</head>
<body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>
<div class="cursor">
	<div class="cursor-border"></div>
</div>
<div class="main">
	<nav class="main-side menu">
		{% view "&header" %}
	</nav>
	<div class="main-content">
		{% block content %}{% endblock %}
	</div>
	<div class="main-footer">
		{% view '&footer' %}
	</div>
</div>

{% if block('endPage') is defined %}
    {{ block('endPage') }}
{% endif %}

{% if preloader %}
	{% view '&preloader' %}
{% endif %}

{% if modals %}
	{% for modal in modals %}
		{% view	'&modal' with {
			modal: modal
		}%}
	{% endfor %}
{% endif %}

<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/vendors~components~index.chunk.js?{{ date().getTime() }}" defer></script>
<script type="text/javascript" src="js/vendors~index.chunk.js?{{ date().getTime() }}" defer></script>
<script type="text/javascript" src="js/index.js?{{ date().getTime() }}" defer></script>
<script type="text/javascript" src="js/components.js?{{ date().getTime() }}" defer></script>
</body>
</html>
