.input-shell {
	position: relative;
}

.input,
.textarea {
	display: block;
	width: 100%;
	border: 2px solid transparent;
	border-radius: 0;
	color: $color-dark;
	@include text-default(false);
	@include defaultTransition(color, border);

	&:-ms-input-placeholder,
	&::-ms-input-placeholder,
	&::-webkit-input-placeholder,
	&::placeholder {
		color: $color-gray;
	}

	&--default {
		padding: rem(22) rem(64) rem(22) rem(38);

		@include media-breakpoint-down(md) {
			padding-left: rem(32);
		}
		@include media-breakpoint-only(sm) {
			padding-right: rem(40);
			padding-left: rem(30);
		}
	}

	&--small {
		padding: rem(10) rem(48) rem(10) rem(22);

		@include media-breakpoint-only(sm) {
			padding-right: rem(32);
		}
	}

	&--white {
		background-color: $color-white;

		&:disabled {
			background-color: rgba($color-white, 0.8);
		}
	}

	&--light {
		background-color: $color-light;

		&:disabled {
			background-color: rgba($color-light, 0.8);
		}
	}

	&:focus {
		outline: none;
	}

	&:hover,
	&:focus {
		border-color: $color-primary;
	}

	.has-error & {
		border-color: $color-error;
		color: $color-error;

		&:-ms-input-placeholder,
		&::-ms-input-placeholder,
		&::-webkit-input-placeholder,
		&::placeholder {
			color: rgba($color-error, 0.5);
		}
	}

	&:disabled {
		cursor: not-allowed;
		border-color: transparent;

		~ .input-status {
			opacity: 0;
			visibility: hidden;
		}
	}

	&::-ms-clear {
		display: none;
	}
}

.input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	&--default {
		height: rem($input-default-h);

		@include media-breakpoint-only(sm) {
			height: rem($input-default-h-sm);
		}
	}

	&--small {
		height: rem($input-small-h);
	}
}
