{% if button.text or button.icon %}
	{% if button.href %}
		<a href="{{ button.href }}"
		   class="btn btn--{{ button.theme ?: 'primary' }} btn--hover-{{ button.hover ?: 'primary' }}{{ button.icon ? ' has-icon' : '' }}"
			{% if button.external %} target="_blank" rel="nofollow"{% endif %}
			{{ button.disabled ? 'disabled' : '' }}
			{{ button.attr ?: '' }}>
			{% if button.icon %}
				{% view '@icon' with {
					icon: button.icon
				} %}
			{% endif %}
			{% if button.text %}
				<span>{{ button.text }}</span>
			{% endif %}
		</a>
	{% else %}
		<button
			type="{{ button.type ?: 'button' }}"
			class="btn btn--{{ button.theme ?: 'primary' }} btn--hover-{{ button.hover ?: 'primary' }}{{ button.icon ? ' has-icon' : '' }}"
			{{ button.disabled ? 'disabled' : '' }}
			{{ button.attr ?: '' }}>
			{% if button.icon %}
				{% view '@icon' with {
					icon: button.icon
				} %}
			{% endif %}
			{% if button.text %}
				<span>{{ button.text }}</span>
			{% endif %}
		</button>
	{% endif %}
{% endif %}
