.btn {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: 2px solid;
	border-radius: 0;
	padding: rem(14) rem(40);
	min-width: rem(176);
	font-family: $ff-base;
	font-weight: normal;
	font-size: rem(12);
	user-select: none;
	text-decoration: none;
	cursor: pointer;
	overflow: hidden;
	transition-property: color, background-color, border, opacity;
	transition-duration: $timing;
	transition-timing-function: $easing;

	@include media-breakpoint-up(md) {
		padding-left: rem(56);
		padding-right: rem(56);
		min-width: rem(200);
		font-size: rem(16);
	}

	.icon {
		margin-right: rem(8);
	}

	.icon,
	> span {
		line-height: rem(16);

		@include media-breakpoint-up(md) {
			line-height: rem(24);
		}
	}

	&:focus {
		outline: none;
	}

	&:focus,
	&:hover {
		text-decoration: none;
	}

	&--border-dark {
		@include btn-border-dark;
	}

	&--border-white {
		@include btn-border-white;
	}

	&--primary {
		@include btn-primary;
	}

	&--hover-light {
		@include btn-hover-light;
	}

	&--hover-white {
		@include btn-hover-white;
	}

	&--hover-primary {
		@include btn-hover-primary;

		&.btn--primary:not(:disabled) {
			&.focus-visible,
			&:hover {
				background-color: $color-primary-middle;
			}
		}
	}

	&:disabled {
		@include btn-disabled;
	}
}
