<div class="diagram-bar" data-viewport-trigger {{ diagram_bar.attr }}>
	<div class="h5 diagram-bar__heading" data-animate="clip">{{ diagram_bar.heading }}</div>
	<div class="diagram-bar__list" data-animate="clip" data-animate-delay="2">
		{% for item in diagram_bar.data %}
			<div class="diagram-bar__item"
				 data-bar-value="{{ item.value }}"
				 style="flex: {{ item.value }} 1 {{ item.value }}%; background-color: {{ item.color }}"
			>
				<span class="diagram-bar__item-text">{{ item.text }}</span>
			</div>
		{% endfor %}
	</div>
	<div class="diagram-bar__legend{{ diagram_bar.columns? ' has-columns' : '' }}" data-animate="fade-in-up" data-animate-delay="3">
		{% for item in diagram_bar.data %}
			<div class="diagram-bar__legend-item">
				<div class="diagram-bar__icon{{ item.icon? ' has-image' : '' }}" style="color: {{ item.color }}">{% if item.icon %}{% svg item.icon %}{% endif %}</div>
				<div class="diagram-bar__label text-label">{{ item.label }}</div>
			</div>
		{% endfor %}
	</div>
</div>
