.diagram-bar {
	@include media-breakpoint-up(lg) {
		max-width: calc( 100vw / 24 * 8 );
	}
	&:not(:last-child) {
		margin-bottom: rem(64);
	}
	&__heading {
		margin-bottom: rem(32);
	}
	&__list {
		display: flex;
		flex-wrap: nowrap;
		align-items: stretch;
		margin-top: rem(24);
		@include media-breakpoint-up(md) {
			margin-top: rem(32);
		}
	}
	&__item {
		min-width: rem(80);
		height: rem(48);
		display: flex;
		align-items: center;
		justify-content: flex-start;
		&-text {
			color: $color-white;
			flex: 0 1 auto;
			display: inline-block;
			padding-left: rem(12);
			padding-right: rem(8);
			@include text-default;
		}
		@include media-breakpoint-up(md) {
			height: rem(64);
			&-text {
				padding-left: rem(32);
				padding-right: rem(24);
			}
		}

		@include media-breakpoint-down(sm) {
			min-width: rem(40);
		}

	}
	&__legend {
		$legend: &;
		margin-top: rem(32);
		@include media-breakpoint-up(md) {
			margin-top: rem(48);
		}
		&-item {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin-bottom: rem(16);
		}
		&.has-columns {
			@include media-breakpoint-up(lg) {
				columns: 2;
				column-gap: calc( 100vw / 24 * 2 );
			}
		}
	}
	&__icon {
		width: rem(24);
		min-width: rem(24);
		height: rem(8);
		margin-right: rem(24);
		background-color: currentColor;

		&.has-image {
			height: rem(24);
			background-color: transparent;
			svg {
				width: 100%;
				height: 100%;
			}
		}
	}
	&__text {

	}
}
