<div class="feature-list-wrapper">
	{% if list.heading %}
		<div class="feature-list-head">{{ list.heading }}</div>
	{% endif %}
	<ul class="feature-list feature-list--layout-{{ list.layout ?: '2' }}">
		{% for item in list.items %}
			<li class="feature-list__item" {{ item.attr }}>
				{% view	'^feature' with {
					feature: item
				}%}
			</li>
		{% endfor %}
	</ul>
</div>
