.card-story-list {
	display: flex;
	flex-wrap: wrap;

	.card-story-shell {
		display: flex;
		padding: 1px;

		@include media-breakpoint-only(sm) {
			width: 100%;
		}

		@include media-breakpoint-only(md) {
			width: 50%;
		}

		@include media-breakpoint-up(lg) {
			width: 33.33%;
		}
	}
}
