<div
	class="button-major-group-wrapper{% if button_group.class %} {{ button_group.class }}{% endif %}" data-viewport-trigger >
	<div class="button-major-group button-major-group--layout-{{ button_group.layout ?: '1' }}" {{ button_group.attr }}>
		{% for button in button_group.items %}
			<div class="button-major-shell" data-animate="fade-in-up" data-animate-delay="{{ loop.index }}">
				{% view '^button-major' with {
					button: button
				} %}
			</div>
		{% endfor %}
	</div>
</div>
