// Стили для нативного <select> до инициализации
.select {
	display: block;
	width: 100%;
	border: 2px solid transparent;
	border-radius: 0;
	color: $color-gray;
	@include text-default(false);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	&[data-select-size="default"] {
		padding: rem(22) rem(64) rem(22) rem(38);

		@include media-breakpoint-down(md) {
			padding-left: rem(32);
		}
		@include media-breakpoint-only(sm) {
			padding-right: rem(40);
			padding-left: rem(30);
		}
	}

	&[data-select-size="small"] {
		padding: rem(10) rem(48) rem(10) rem(22);

		@include media-breakpoint-only(sm) {
			padding-right: rem(32);
		}
	}

	&[data-select-theme="white"] {
		background-color: $color-white;

		&:disabled {
			background-color: rgba($color-white, 0.8);
		}
	}

	&[data-select-theme="light"] {
		background-color: $color-light;

		&:disabled {
			background-color: rgba($color-light, 0.8);
		}
	}

	&:focus {
		outline: none;
	}

	&:hover,
	&:focus {
		border-color: $color-primary;
	}

	.has-error & {
		border-color: $color-error;
		color: $color-error;
	}
}
