<select {% if field.id %}id="{{ field.id }}"{% endif %}
		class="select{% if field.class %} {{ field.class }}{% endif %}"
		name="{{ field.name }}"
		data-select
		data-select-size="{{ field.size ?: 'default' }}"
		data-select-theme="{{ field.theme ?: 'white' }}"
		{% if field.icon %}data-select-icon="{{ field.icon }}"{% endif %}
	{% if field.placeholder %} data-select-placeholder="{{ field.placeholder }}"{% endif %}
	{% if field.search %} data-select-search="true"{% endif %}
	{% if field.search_url %} data-ajax-url="{{ field.search_url }}"{% endif %}
	{% if field.multiple %} multiple{% endif %}
	{% if field.required %} required data-pristine-required-message="{{ field.error.required?: messages.error.required }}"{% endif %}
	{% if field.disabled %} disabled{% endif %}
	{% if field.attr %}{{ field.attr }}{% endif %}>
	{% if field.placeholder and field.multiple != true %}
		<option label="{{ field.placeholder }}"></option>
	{% endif %}
	{% for option in field.options %}
		<option value="{{ option.value }}"
			
			{% if option.attr %} {{ option.attr }} {% endif %}
			{% if option.selected %} selected{% endif %}
			{% if option.disabled %} disabled{% endif %}
			{% if option.href %} data-href="{{ option.href }}"{% endif %}>
			{{ option.text }}
		</option>
	{% endfor %}
</select>
