.hint,
.input-status {
	@include hint-mark;
}

.hint {
	position: relative;
	display: inline-block;
	background-color: rgba($color-dark, 0.4);
	color: $color-white;
	@include defaultTransition(background-color);

	&::before {
		content: '';
		position: absolute;
		top: -4px;
		right: -4px;
		bottom: -4px;
		left: -4px;
		display: block;
		border-radius: inherit;
		background-color: transparent;
	}

	&:focus {
		outline: none;
	}

	&:hover,
	&:focus {
		background-color: rgba($color-dark, 1);
	}

	&.is-red {
		color: $color-white;
		background-color: $color-error;
	}
}

// field
.input-hint,
.input-status {
	position: absolute;
	top: rem(24);
	right: rem(40);
	@include defaultTransition(opacity);

	@include media-breakpoint-only(sm) {
		top: rem(22);
		right: rem(22);
	}

	@at-root .input--small ~ & {
		top: rem(12);
		right: rem(22);

		@include media-breakpoint-only(sm) {
			top: rem(14);
			right: rem(14);
		}
	}
}

.input-hint {
	cursor: help;

	.has-error & {
		visibility: hidden;
		opacity: 0;
	}
}

.input-status {
	display: block;
	color: $color-white;
	background-color: $color-error;
	pointer-events: none;
	visibility: hidden;
	opacity: 0;

	.has-error & {
		visibility: visible;
		opacity: 1;
	}
}

// Стилизация туллтипов в src/scss/base/tooltip/index.scss
