@keyframes spinAround {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translate3d(0, 2%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes clip {
	0% {
		clip-path: $clip-path-hide;
	}
	100% {
		clip-path: $clip-path-show;
	}
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes arrowDown {
	50% {
		transform: translate3d(0, 14px, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}
