// Color system:
// 'colorName': ('color', 'invert (text)')

@each $colorName, $colorValue in $colors {
  .bg-#{$colorName} {
    background-color: nth($colorValue, 1) !important;
		color: nth($colorValue, 2);
  }

  .color-#{$colorName} {
    color: nth($colorValue, 1) !important;
  }
}
