.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

@font-face {
	font-family: 'CoFo Sans';
	src: url('../fonts/CoFoSans/CoFoSans-Regular.eot');
	src: local('CoFo Sans Regular'), local('CoFo-Sans-Regular'),
	url('../fonts/CoFoSans/CoFoSans-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/CoFoSans/CoFoSans-Regular.woff') format('woff'),
	url('../fonts/CoFoSans/CoFoSans-Regular.woff2') format('woff2'),
	url('../fonts/CoFoSans/CoFoSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'CoFo Sans';
	src: url('../fonts/CoFoSans/CoFoSans-Medium.eot');
	src: local('CoFo Sans Medium'), local('CoFo-Sans-Medium'),
	url('../fonts/CoFoSans/CoFoSans-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/CoFoSans/CoFoSans-Medium.woff') format('woff'),
	url('../fonts/CoFoSans/CoFoSans-Medium.woff2') format('woff2'),
	url('../fonts/CoFoSans/CoFoSans-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'CoFo Sans';
	src: url('../fonts/CoFoSans/CoFoSans-Bold.ttf') format('truetype');
	src: local('CoFo Sans Bold'), local('CoFo-Sans-Bold');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'CoFo Sans';
	src: url('../fonts/CoFoSans/CoFoSans-Black.ttf') format('truetype');
	src: local('CoFo Sans Black'), local('CoFo-Sans-Black');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
