<div class="diagram-bar-layout">
	<div class="diagram-bar-layout__wrap">
		{% for diagram in diagram_bar_layout.items %}
			{% view '^diagram-bar' with {
				diagram_bar: diagram
			} %}
		{% endfor %}
	</div>
</div>
