.slider-directions {
	&__head {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		@include media-breakpoint-only(sm) {
			margin-bottom: rem(16);
			padding-left: $col-1-of-12;
			padding-right: $col-1-of-12;
		}

		@include media-breakpoint-up(md) {
			margin-bottom: rem(48);
			padding-right: $col-1-of-24;
		}

		@include media-breakpoint-only(md) {
			padding-left: $col-4-of-24;
		}

		@include media-breakpoint-up(lg) {
			padding-left: $col-3-of-24;
		}
	}

	&__heading {
		@include media-breakpoint-only(md) {
			width: 70%;
		}

		@include media-breakpoint-up(lg) {
			width: 75%;
		}
	}

	&__nav {
		flex-shrink: 0;

		@include media-breakpoint-only(sm) {
			display: none;
		}

		@include media-breakpoint-up(lg) {
			width: 25%;
		}
	}

	&__container {
		@include media-breakpoint-only(sm) {
			padding-left: $col-1-of-12;
			padding-right: $col-1-of-12;
		}

		@include media-breakpoint-only(md) {
			padding-left: $col-4-of-24;
		}

		@include media-breakpoint-up(lg) {
			padding-left: $col-3-of-24;
			padding-top: rem(48);
			padding-bottom: rem(48);
			margin-top: rem(-48);
			margin-bottom: rem(-48);
		}

		.swiper-wrapper {
			@include media-breakpoint-up(md) {
				height: rem(450);
			}
			@include media-breakpoint-up(lg) {
				height: rem(514);
			}
		}

		.swiper-slide {
			@include media-breakpoint-up(md) {
				width: 50%;
				height: calc((100% - 2px) / 2);
			}

			@include media-breakpoint-up(lg) {
				width: 33.33%;
			}

			[data-animate-delay-lg='1'],
			[data-animate-delay-lg='2'],
			[data-animate-delay-md='1'],
			[data-animate-delay-md='2'],
			[data-animate-delay-md='3'] {
				@include media-breakpoint-up(md) {
					opacity: 0;
					transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
					transform: translateY(rem(40));
					transition: opacity 2s,
					transform 2s;
				}
			}

			[data-animate-delay-lg='1'] {
				@include media-breakpoint-up(lg) {
					transition-delay: .3s;
				}
			}
			[data-animate-delay-lg='2'] {
				@include media-breakpoint-up(lg) {
					transition-delay: .6s;
				}
			}
			[data-animate-delay-md='1'] {
				@include media-breakpoint-only(md) {
					transition-delay: .3s;
				}
			}
			[data-animate-delay-md='2'] {
				@include media-breakpoint-only(md) {
					transition-delay: .6s;
				}
			}
			[data-animate-delay-md='3'] {
				@include media-breakpoint-only(md) {
					transition-delay: .9s;
				}
			}

			[data-animate-delay-lg='1'].animate,
			[data-animate-delay-lg='2'].animate,
			[data-animate-delay-md='1'].animate,
			[data-animate-delay-md='2'].animate,
			[data-animate-delay-md='3'].animate {
				opacity: 1;
				transform: translateY(0);
			}

			@include media-breakpoint-down(sm) {
				transition-delay: 0s !important;
			}
		}
	}
}
