.card-feature {
	position: relative;
	width: 100%;
	$root: &;

	&__link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
	}

	&__inner {
		transition: background-color $timing $easing;
		padding: rem(40) $col-1-of-12;

		@include media-breakpoint-up(md) {
			padding: rem(64) $col-2-of-24 rem(64) $col-4-of-24;
		}
		@include media-breakpoint-up(lg) {
			padding: rem(56) $col-1-of-24 rem(40);
		}
		height: 100%;
	}

	&__top {
		display: flex;
		align-items: center;

		@include media-breakpoint-up(lg) {
			flex-wrap: wrap;
		}
	}

	&__bottom {
		margin-top: rem(48);

		@include media-breakpoint-up(md) {
			margin-top: rem(64);
		}

		@include media-breakpoint-up(lg) {
			margin-top: 0;
		}
	}

	&__icon {
		margin-right: rem(32);

		@include media-breakpoint-up(md) {
			margin-right: rem(40);
		}

		@include media-breakpoint-up(lg) {
			width: 100%;
			margin-bottom: rem(32);
			margin-right: 0;
		}
	}

	&__head {
		@include h3;

		@include media-breakpoint-up(lg) {
			width: 100%;
			margin-bottom: rem(40);
		}
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;

		&-item {
			display: flex;
			align-items: center;
			@include text-default;

			&:not(:last-child) {
				margin-bottom: rem(24);
			}

			&-icon {
				margin-right: rem(16);
				display: inline-flex;
				align-items: center;
				justify-content: center;
				color: $color-primary;
				flex-shrink: 0;

				svg {
					width: rem(18);
					height: rem(18);
				}
			}
		}
	}

	&:hover {
		@media (hover: hover) and (pointer: fine) {
			#{$root}__inner {
				background-color: $color-primary;
			}

			#{$root}__icon {
				svg {
					g, path {
						stroke: $color-white;
					}
				}
			}

			#{$root}__head {
				color: $color-white;
			}

			#{$root}__list-item {
				color: $color-white;
			}

			#{$root}__list-item-icon {
				color: $color-white;
			}
		}
	}
}
