<div
	class="field{% if field.type == 'hidden' %} field--hidden{% endif %}{% if field.tel %} field--tel{% endif %}">
	{% if field.checklist %}
		<div class="field__group{% if field.checklistVertical %} field__group--vertical{% endif %}">
			{% for check in field.checklist %}
				<div class="control">
					{% view '^field-checkbox' with {
						field: check
					} %}
				</div>
			{% endfor %}
		</div>
	{% else %}
		<div class="control">
			{% if field.input %}
				{% view '^field-input' with {
					field: field
				} %}
			{% elseif field.textarea %}
				{% view '^field-textarea' with {
					field: field
				} %}
			{% elseif field.select %}
				{% view '^field-select' with {
					field: field
				} %}
			{% elseif field.checkbox or field.radio %}
				{% view '^field-checkbox' with {
					field: field
				} %}
			{% elseif field.file %}
				{% view '^field-file' with {
					field: field
				} %}
			{% endif %}
		</div>
	{% endif %}
</div>
