.filter-result {
	margin-top: rem(48);

	@include media-breakpoint-down(md) {
		margin-top: rem(56);
	}

	@include media-breakpoint-down(sm) {
		margin-top: rem(64);
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include media-breakpoint-down(sm) {
			display: block;
			margin-bottom: rem(40);
		}
	}

	&__title {

	}

	&__sort {
		width: rem(240);

		@include media-breakpoint-down(md) {
			width: rem(224);
		}

		@include media-breakpoint-down(sm) {
			width: 100%;
			margin-top: rem(24);

			/*Custom*/
			.select2-container .select2-selection--single.select2-selection--small .select2-selection__rendered {
				padding-top: rem(14);
				padding-bottom: rem(14);
			}
		}
	}

	&__container {
		margin-top: rem(40);
	}

	&-card {
		$b: #{&};

		opacity: 0;
		transform: translateY(rem(40));

		position: relative;
		margin-bottom: 2px;
		padding: rem(32) rem(60);
		background-color: $color-white;
		cursor: pointer;
		overflow: hidden;
		transition: opacity 2s, border .3s, transform 2s;
		transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);

		&.animate {
			opacity: 1;
			transform: translateY(0);
		}

		@include last-row(1) {
			margin-bottom: 0;
		}

		@include media-breakpoint-down(md) {
			padding: rem(32);
		}

		@include media-breakpoint-down(sm) {
			margin-left: calc(-100vw / 12 * 1);
			margin-right: calc(-100vw / 12 * 1);
		}

		&:after {
			content: '';
			width: 4px;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-color: $color-orange;
			transform: translateX(-4px);
			@include defaultTransition(transform);
		}

		&:hover {
			&:after {
				transform: translateX(0px);
			}
		}

		&__tags {
			margin-bottom: rem(40);

			@include media-breakpoint-down(sm) {
				margin-bottom: rem(24);
			}
		}

		&__tag {
			display: inline-block;
			margin-right: rem(8);
			padding: rem(6) rem(12);
			@include text-small();
			background-color: $color-light;

			@include last-row(1) {
				margin-right: 0;
			}
		}

		&__head {
			display: flex;

			@include media-breakpoint-down(sm) {
				display: block;
			}
		}

		&__info {
			display: flex;

			@include media-breakpoint-down(sm) {
				display: block;
			}
		}

		&__title {
			display: block;
			position: relative;
			color: $color-graphite;
			z-index: 1;
			width: rem(420);
			margin-bottom: rem(16);
			@include defaultTransition(color);

			@include media-breakpoint-down(md) {
				width: rem(320);
			}

			@include media-breakpoint-down(sm) {
				width: 100%;
				margin-bottom: rem(8);
			}

			&:hover {
				color: $color-orange;
				text-decoration: none;
			}
		}

		&__salary {
			margin-bottom: rem(16);
			padding-left: rem(60);

			@include media-breakpoint-down(md) {
				padding-left: rem(32);
			}

			@include media-breakpoint-down(sm) {
				margin-bottom: rem(36);
				padding-left: 0;
			}
		}

		&__desc {
			width: rem(420);
			margin-bottom: rem(8);

			@include media-breakpoint-down(md) {
				width: rem(320);
			}

			@include media-breakpoint-down(sm) {
				font-size: rem(12);
			}
		}

		&__category {
			padding-left: rem(60);
			flex: 1;
			color: $color-dim-gray;

			@include media-breakpoint-down(md) {
				padding-left: rem(32);
			}

			@include media-breakpoint-down(sm) {
				margin-bottom: rem(32);
				padding-left: 0;
				font-size: rem(12);
			}
		}

		&__date {
			display: flex;
			color: $color-dim-gray;
			align-items: flex-end;

			@include media-breakpoint-down(sm) {
				font-size: rem(12);
			}
		}

		&__more {
			margin-top: rem(64);
		}

		&__link {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}

	.pagination-layout {
		margin-top: rem(48);

		@include media-breakpoint-only(sm) {
			margin-top: rem(40);
		}
	}
}
