@mixin line-animate-in($color: currentColor) {
	background-size: 0% 1px;
	background-position: 100% 100%;
	background-image: linear-gradient($color, $color);
	background-repeat: no-repeat;
	padding-bottom: rem(2);
	text-decoration: none !important;

	transition-property: background-size;
	transition-duration: $timing;
	transition-timing-function: $easing;
	will-change: background-size;

	&:hover,
	&:focus {
		background-position: 0% 100%;
		background-size: 100% 1px;
	}
}

@mixin line-animate-out($color: currentColor) {
	background-size: 100% 1px;
	background-position: 0% 100%;
	background-image: linear-gradient($color, $color);
	background-repeat: no-repeat;
	padding-bottom: rem(1);
	text-decoration: none !important;

	transition-property: background-size;
	transition-duration: $timing;
	transition-timing-function: $easing;
	will-change: background-size;

	&:hover,
	&:focus {
		background-position: 100% 100%;
		background-size: 0% 1px;
	}
}

@mixin card-translate-hover {
	@include media-breakpoint-up(lg) {
		transform: translate3d(0, -8px, 0);
		box-shadow: $card-hover-shadow;

		.card-publication__link::after {
			// Для избежания бесконечного подпрыгивания
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			height: 8px;
		}
	}
}

@mixin fade-in-up {
	transition-duration: 0s;
	transition-delay: 0s;
	transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
	transition-property: opacity, transform;
	opacity: 0;
	transform: translateY($sal-slide-offset-Y);

	&.animate {
		opacity: 1;
		transform: none;
		transition-duration: $sal-animation-duration;
		transition-delay: $sal-animation-delay;
	}
	@at-root .animate-disabled & {
		opacity: 1;
		transform: none;
	}
}

@mixin animate-image {
	background-color: $color-dim-gray;

	.in-viewport & {
		transition-duration: 0.5s;
		transition-delay: .5s;
	}

	.image {
		clip-path: $clip-path-hide;
		transition-property: clip-path;
		transition-timing-function: $easing;
		transition-duration: 0.5s;

		.in-viewport & {
			transition-duration: 1s;
			transition-delay: 1s;
			clip-path: $clip-path-show;
		}
		.animate-disabled & {
			clip-path: none;
		}
	}
}
