@mixin btn-border-dark {
	border-color: $color-dark;
	background-color: transparent;
	color: $color-dark;
}

@mixin btn-border-white {
	border-color: $color-white;
	background-color: transparent;
	color: $color-white;
}

@mixin btn-primary {
	border-color: transparent;
	background-color: $color-primary;
	color: $color-white;
}

@mixin btn-hover-light {
	&:not(:disabled):not(.disabled) {
		&:focus,
		&:hover {
			border-color: transparent;
			background-color: $color-light;
			color: $color-dark;
		}
	}
}

@mixin btn-hover-white {
	&:not(:disabled):not(.disabled) {
		&:focus,
		&:hover {
			border-color: transparent;
			background-color: $color-white;
			color: $color-dark;
		}
	}
}

@mixin btn-hover-primary {
	&:not(:disabled):not(.disabled) {
		&:focus,
		&:hover {
			border-color: transparent;
			background-color: $color-primary;
			color: $color-white;
		}
	}
}

@mixin btn-disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
