@import "rem";
@import "breakpoints";
@import "line-clamp";
@import "visually-hidden";
@import "typography";
@import "helpers";
@import "animations";
@import "button-colors";
@import "transitions";


@mixin back-to-link {
	color: currentColor;
	text-decoration: none;
	width: rem(24);
	height: rem(24);
	transition: color $timing $easing;
	svg {
		width: 100%;
		height: 100%;
		transition: transform $timing $easing;
	}
	&::after {
		content: '';
		position: absolute;
		top: rem(-10);
		left: rem(-10);
		right: rem(-10);
		bottom: rem(-10);
	}
	&:hover {
		color: $color-primary;

		svg {
			transform: translateX(rem(8));
		}
	}
}

@mixin hint-mark {
	border-radius: 50%;
	width: rem(24);
	height: rem(24);
	line-height: rem(24);
	font-size: rem(16);
	text-align: center;
	user-select: none;

	@include media-breakpoint-only(sm) {
		width: rem(16);
		height: rem(16);
		line-height: rem(16);
		font-size: rem(12);
	}
}
