<form class="filter-layout" action="{{ layout.action }}" method="{{ layout.method }}"{% if layout.id %} id="{{ layout.id }}"{% endif %}{% if layout.attr %} {{ layout.attr }}{% endif %}>
	<div class="filter-layout__inner">
		{% for field in layout.fields %}
			{% view '^field' with {
				field: field
			}%}
		{% endfor %}
	</div>
</form>
