<div class="block-text-horizontal" data-viewport-trigger {{ block.attr }}>
	<div class="block-text-horizontal__inner">
		{% if block.heading %}
			<h2 class="block-text-horizontal__head h2"
				data-animate="clip" data-animate-delay="1">{{ block.heading }}</h2>
		{% endif %}
		{% if block.content.text %}
			<div class="block-text-horizontal__content user-text"
				 data-animate="fade-in-up" data-animate-delay="2">{{ block.content.text|raw }}</div>
		{% endif %}
	</div>
</div>
