<div class="factor" data-viewport-trigger>

	<div class="factor__head{% if factor.color %} color-{{ factor.color }}{% endif %}">
		{% if factor.prefix %}
			<span class="factor__prefix h2">{{ factor.prefix }}</span>
		{% endif %}

		{% if factor.heading %}
			<span class="factor__number h2" data-counter{% if factor.separator %} data-counter-separator="{{ factor.separator }}"{% endif %}>
				{{ factor.heading|raw }}
			</span>
		{% endif %}

		{% if factor.suffix %}
			<span class="factor__suffix h2">{{ factor.suffix }}</span>
		{% endif %}
	</div>

	{% if factor.text %}
		<div class="factor__text text-default" data-animate="fade-in-up" data-animate-delay="1">{{ factor.text|raw }}</div>
	{% endif %}
</div>
