<section class="hero-story">

	{% view '^hero-top-bar' %}

	<div class="hero-story__wrap" data-viewport-trigger>
		<div class="hero-story__inner">

			<div class="hero-story__info">

				<div class="hero-story__breadcrumb">
					{% view '^breadcrumb' with {
						breadcrumb: hero.breadcrumb
					} %}
				</div>

				<h1 class="hero-story__heading h2">{{ hero.heading }}</h1>

				{% if hero.backward_link %}
					<div class="hero-story__backward-link">
						{% view '@link-action' with {
							link: hero.backward_link|merge ({
								icon: {
									name: "arrows/arrow-left"
								}
							})
						} %}
					</div>
				{% endif %}

				{% view '&quote-block' with {
					quote_block: hero.quote_block
				} %}

			</div>

			<div class="hero-story__img" data-animate="clip" data-animate-delay="2">
				{% view '@image-adaptive' with {
					image_adaptive: hero.image
				} %}
			</div>

		</div>

	</div>

</section>
