.hero-story {
	position: relative;
	padding-left: $col-1-of-12;
	padding-right: $col-1-of-12;
	background-color: $color-white;
	$root: &;

	@include media-breakpoint-up(md) {
		padding-left: $col-4-of-24;
		padding-right: $col-1-of-24;
	}
	@include media-breakpoint-up(lg) {
		padding-left: $col-3-of-24;
		padding-right: 0;
	}

	&__wrap {
		padding-top: rem(160);

		@include media-breakpoint-down(md) {
			padding-top: rem(200);
		}

		@include media-breakpoint-down(sm) {
			padding-top: rem(120);
		}
	}

	&__inner {
		display: flex;

		@include media-breakpoint-down(md) {
			display: block;
		}
	}

	&__breadcrumb {
		margin-bottom: rem(8);
		width: 100%;
		flex: 0 0 auto;
	}

	&__heading {
		@include media-breakpoint-down(sm) {
			font-size: rem(36);
		}
		& + .quote-block {
			margin-top: rem(64);

			@include media-breakpoint-down(md) {
				margin-top: rem(40);
			}
		}
	}

	&__backward-link {
		margin-top: rem(16);
		& + .quote-block {
			margin-top: rem(64);

			@include media-breakpoint-down(md) {
				margin-top: rem(40);
			}
		}
	}

	&__info {
		padding-bottom: rem(148);
		@include media-breakpoint-up(lg) {
			flex: 1;
			padding-right: rem(40);
		}
		@include media-breakpoint-down(md) {
			padding-bottom: rem(64);
		}

		@include media-breakpoint-down(sm) {
			padding-bottom: rem(48);
		}
	}

	&__img {
		flex: 1;
		@include media-breakpoint-up(lg) {
			max-width: 50%;
			margin-left: auto;
		}

		@include animate-image();

		@include media-breakpoint-down(md) {
			height: rem(480);
			margin-left: calc(-100vw / 24 * 4);
			margin-right: calc(-100vw / 24 * 1);
		}

		@include media-breakpoint-down(sm) {
			height: rem(250);
			margin-left: calc(-100vw / 12 * 1);
			margin-right: calc(-100vw / 12 * 1);
		}

		.image {
			width: 100%;
			height: 100%;
			object-fit: cover;
			background-size: cover;

			@include media-breakpoint-down(md) {
				background-position: top;
			}
		}
	}

	/*quote-block*/
	.quote-block {
		&__content {
			margin-right: rem(120);

			@include media-breakpoint-down(md) {
				margin-right: rem(32);
			}

			@include media-breakpoint-down(sm) {
				margin-right: 0;
			}
		}

		&-bottom {
			margin-top: rem(80);

			@include media-breakpoint-down(md) {
				margin-top: rem(48);
			}

			@include media-breakpoint-down(sm) {
				margin-top: rem(40);
			}
		}
	}
}
