{% if button.href %}
	<a href="{{ button.href }}"
	   class="button-major{% if button.class %} {{ button.class }}{% endif %}"
		{% if button.attr %} {{ button.attr }}{% endif %}>
		{% include '@molecules/button-major/button-major-body.twig' %}
	</a>
{% else %}
	<button
		type="{{ button.type ?: 'button' }}"
		class="button-major{% if button.class %} {{ button.class }}{% endif %}"
		{% if button.attr %} {{ button.attr }}{% endif %}>
		{% include '@molecules/button-major/button-major-body.twig' %}
	</button>
{% endif %}
