.button-major {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: none;
	border-radius: 0;
	text-decoration: none !important;
	padding: rem(24) rem(30);
	width: 100%;
	height: rem(104);
	background-color: $color-primary;
	color: $color-white;
	transition-property: background-color;
	transition-duration: $timing;
	transition-timing-function: $easing;

	@include media-breakpoint-only(md) {
		padding: rem(40) rem(48) rem(32);
	}

	@include media-breakpoint-up(md) {
		height: rem(136);
	}

	@include media-breakpoint-up(lg) {
		padding: rem(32) rem(56);
	}

	&:focus {
		outline: none;
	}

	&:focus,
	&:hover {
		background-color: $color-primary-middle;
	}

	&__bottom {
		display: flex;
		align-items: center;

		.icon {
			margin-right: rem(8);

			@include media-breakpoint-up(lg) {
				margin-right: rem(16);
			}
		}
	}

	.text-label {
		text-align: left;
	}
}
