<span class="text-label">{{ button.label }}</span>
<span class="button-major__bottom">
	{% view '@icon' with {
		icon: {
			name: 'arrows/arrow-up-right'
		}
	} %}
	{% if button.heading %}
		<span class="h5">{{ button.heading }}</span>
	{% endif %}
</span>
