.overlay-loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(#fff, 0.9);
  color: currentColor;
  cursor: progress;
  user-select: none;

  &::before {
    content: '';
    display: block;
    width: rem(32);
    height: rem(32);
    border-radius: 50%;
    border: 4px solid currentColor;
    border-top-color: transparent;
    border-right-color: transparent;

    animation: $loader-spin-animation;
  }

  &:not(.is-loading) {
    display: none;
  }
}
