.icon {
	svg {
		display: block;
	}

	&.is-default {
		svg {
			width: rem(24);
			height: rem(24);
		}
	}

	&.is-medium {
		svg {
			width: rem(46);
			height: rem(46);
		}
	}

	&.is-large {
		svg {
			width: rem(64);
			height: rem(64);
		}
	}
}
