<form class="filter{% if filter.sidebar %} has-sidebar{% endif %}" {{ filter.attr }} action="{{ filter.action }}" method="{{ filter.method }}" data-viewport-trigger>
	{{ filter.header }}
	{% if filter.heading %}
		<h2 class="filter__title h2" data-animate="clip">{{ filter.heading }}</h2>
	{% endif %}

	<div class="filter__wrap">

		{% if filter.sidebar %}
			<div class="filter-sidebar" data-animate>
				<div class="filter-sidebar__wrap">

					<div class="filter-sidebar__top">
						{% view '@link-action' with {
							link: filter.sidebar.top.link
						} %}
					</div>

					<div class="filter-sidebar__content">
						{% view '^accordion' with {
							accordion: filter.sidebar.accordion
						} %}
					</div>

				</div>
			</div>
		{% endif %}

		<div class="filter-main{% if not filter.sidebar %} filter-main--full-width{% endif %}" data-animate>
			<div class="filter-search{% if filter.search.region %} has-region{% endif %}" data-animate>

				<div class="filter-search__row">
					<div class="filter-search__field">
						{% view '^field' with {
							field: filter.search.field
						} %}
						<div class="filter-search__box-results" data-search-box-results style="display: none;">
							{% view	'&search-box-result-list' with {
								list: filter.search.field.results_content
							}%}
						</div>
					</div>

					{% if filter.search.region %}
						<div class="filter-search__field filter-search__field--region">
							{% view '^field' with {
								field: filter.search.region
							} %}
						</div>
					{% endif %}

					<div class="filter-search__btn">
						{% view '@button' with {
							button: filter.search.button
						} %}
					</div>
				</div>

				{% if filter.search.ext_fields %}
					<div class="filter-search-ext">

						<div class="filter-search-ext__wrap">

							<div class="filter-search-ext__fields-wrap">
								<div class="filter-search-ext__fields">
									{% for field in filter.search.ext_fields.items %}
										{% view '^field' %}
									{% endfor %}
								</div>
							</div>

							<div class="filter-search__controls">

								<div class="filter-tags">
									<div class="filter-tags__wrap">
										{% for link in filter.search.tags.items %}
											<div class="filter-tags__el">
												{% view '@link-action' with {
													link: link
												}%}
											</div>
										{% endfor %}
									</div>
								</div>

							</div>
						</div>

						<div class="filter-ext-link">
							<div class="filter-search__clear">
								{% view '@link-action' with {
									link: filter.search.ext_fields.action
								} %}
							</div>
							{% view '@link-action' with {
								link: filter.search.ext_link
							} %}
						</div>
					</div>

				{% else %}

					<div class="filter-search__controls">

					<div class="filter-tags">
						<div class="filter-tags__wrap">
							{% for link in filter.search.tags.items %}
								<div class="filter-tags__el">
									{% view '@link-action' %}
								</div>
							{% endfor %}
						</div>
					</div>

					<div class="filter-ext-link">
						<div class="filter-search__clear">
							{% view '@link-action' with {
								link: filter.sidebar.top.link
							} %}
						</div>
						{% view '@link-action' with {
							link: filter.search.ext_link
						} %}
					</div>

				</div>

				{% endif %}
			</div>


			{% if filter.filter_result %}
				{% view '&filter-result' with {
					filter_result: filter.filter_result
				} %}
			{% endif %}

		</div>
	</div>
</form>

<div id="filter-popup" class="filter-popup mfp-hide">
	<div class="filter-popup__wrap">
		<div class="filter-popup__head">
			<div class="filter-popup__title h3">{{ filter.search.filter_popup.title }}</div>
			<div class="filter-popup__close">
				{% view '@icon' with {
					icon: {
						"name": "close-popup"
					}
				} %}
			</div>
		</div>

		<div class="filter-popup__content">
			{% if filter.sidebar.accordion %}
				{% view '^accordion' with {
					accordion: filter.sidebar.accordion
				} %}
			{% endif %}
			{% if filter.search.ext_fields.items %}
				{% for field in filter.search.ext_fields.items %}
					{% view '^field' with {
						field: field|merge({
							theme: 'light'
						})
					}%}
				{% endfor %}
			{% endif %}
		</div>
	</div>
</div>
