.filter {
	[data-clear] {
		outline: none;
	}
	&.has-sidebar {
		padding-left: rem(80);

		@include media-breakpoint-down(md) {
			padding-left: $col-4-of-24;
		}

		@include media-breakpoint-down(sm) {
			padding-left: $col-1-of-12;
		}
	}

	&__wrap {
		display: flex;
	}

	&__title {
		margin-bottom: rem(56);
		@include media-breakpoint-down(md) {
			margin-bottom: rem(40);
		}
	}

	&-sidebar {
		width: 40%;

		@include media-breakpoint-down(md) {
			display: none;
		}

		&__wrap {
			margin-right: rem(60);
		}

		&__top {
			width: 100%;
			height: rem(70);
			margin-bottom: 2px;
			padding: rem(24) rem(45);
			background-color: $color-white;
		}

		/*accordion*/
		.accordion-row {
			&__toggle {
				min-height: inherit;
				padding: rem(32) rem(40);
			}

			&__toggle-text {
				@include h5();
				color: $color-graphite;
			}

			&__roll {
				position: relative;
				max-height: rem(340);
				margin-bottom: rem(40);
				padding: 0 rem(48) 0 rem(40);
				overflow: auto;

				&.ps--active-y > .ps__rail-y::before {
					background-color: $color-light;
				}
			}

			&__content {
				padding-bottom: 0;
			}

			&__list-el {
				margin-bottom: rem(24);

				@include last-row(1) {
					margin-bottom: rem(0);
				}
			}
		}

	}

	&-main {
		width: 60%;

		@include media-breakpoint-down(md) {
			width: 100%;
		}

		&--full-width {
			width: 100%;
		}
	}

	&-search {
		$b: #{&};

		&__controls {
			display: flex;
		}

		&__row {
			display: flex;

			@include media-breakpoint-down(sm) {
				display: block;
			}
		}

		&__field {
			flex: 1;
			position: relative;

			&--region {
				max-width: rem(358);
				margin-left: 2px;
			}
		}

		&__box-results {
			position: absolute;
			top: rem(74);
			left: 0;
			right: 0;
			height: rem(250);
			overflow: hidden;
			background-color: $color-white;
			z-index: 1;
		}

		&__btn {
			min-width: rem(240);

			@include media-breakpoint-down(md) {
				min-width: rem(224);
			}

			@include media-breakpoint-down(sm) {
				min-width: inherit;
				width: 100%;
				height: rem(64);
			}

			button {
				width: 100%;
				height: 100%;
			}

			.icon {
				margin-right: rem(16);
			}
		}

		&__clear {
			margin-left: rem(30);
			margin-right: rem(40);
		}

		&-ext {
			display: flex;
			margin-top: 2px;

			@include media-breakpoint-down(sm) {
				display: block;
			}

			&__wrap {
				flex: 1;
			}

			&__fields-wrap {
				height: 0;
				overflow: hidden;
				@include defaultTransition(height);

				&.active {
					height: rem(72);

					@include media-breakpoint-down(md) {
						height: 0;
					}
				}
			}

			&__fields {
				display: flex;
				align-items: center;

				@include media-breakpoint-down(md) {
					display: none;
				}

				.field {
					flex: 1;
					margin-right: 2px;
				}
			}

			.filter-ext-link {
				width: rem(420);
				margin-left: 0;

				display: flex;
				align-items: flex-start;

				@include media-breakpoint-down(md) {
					width: rem(224);
					flex-direction: column-reverse;
					align-items: flex-end;
					justify-content: flex-end;

					.filter-search__clear {
						margin-right: 0;
						margin-top: rem(12);
					}
				}
				@include media-breakpoint-down(sm) {
					align-items: flex-start;

					.filter-search__clear {
						margin-left: 0;
					}
				}
			}

			.filter-tags {
				width: 100%;
			}
		}

		&.has-region {
			@include media-breakpoint-down(md) {
				#{$b}__row {
					flex-wrap: wrap;
				}

				#{$b}__field {
					&:first-child {
						flex-basis: 100%;
						margin-bottom: 2px;
					}
				}

				#{$b}__field--region {
					max-width: 100%;
					width: 63%;
					margin-left: 0;
				}
			}

			@include media-breakpoint-down(sm) {
				#{$b}__field--region {
					width: 100%;
					margin-bottom: 2px;
				}
			}
		}
	}

	&-tags {
		margin-top: rem(24);

		@include media-breakpoint-down(md) {
			width: 63%;
			margin-top: rem(16);
		}

		@include media-breakpoint-down(sm) {
			display: none;
		}

		&__wrap {
			margin-top: rem(-10);
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}

		&__el {
			display: inline-block;
			margin-top: rem(10);
			margin-right: rem(10);
		}

		&__el-inner {
			display: flex;
			align-items: center;
			padding: rem(12) rem(16);
			background-color: $color-gray;
			color: $color-white;
			text-transform: uppercase;
			@include defaultTransition(background);

			&:hover, &.active {
				color: $color-white;
				background-color: $color-graphite;
			}

			[data-tag-delete] {
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				padding: 0;
				border: none;
				color: white;
				background-color: transparent;
				width: rem(14);
				height: rem(14);
				margin-left: rem(12);
				&::after {
					content: '';
					position: absolute;
					top: rem(-8);
					bottom: rem(-8);
					right: rem(-8);
					left: rem(-8);
				}

				.icon {
					display: inline-block;
					color: currentColor;
					width: 100%;
					height: 100%;

					svg {
						width: 100%;
						height: 100%;
					}
				}
			}
		}

		&__el-text {
			@include text-label();
		}
	}

	&-ext-link {
		display: none;
		margin-top: rem(24);
		margin-left: rem(12);
		width: rem(420);

		@include media-breakpoint-down(md) {
			display: flex;
			width: rem(224);
			flex-direction: column-reverse;
			align-items: flex-end;
			justify-content: flex-end;

			.filter-search__clear {
				margin-right: 0;
				margin-top: rem(12);
			}
		}
		@include media-breakpoint-down(sm) {
			margin-left: 0;
			align-items: flex-start;

			.filter-search__clear {
				margin-left: 0;
			}
		}
	}
}

.filter-popup {
	padding: rem(56) 0 rem(72) rem(96);
	background-color: $color-white;

	@include media-breakpoint-down(sm) {
		padding: rem(88) 0 rem(56) rem(30);
	}

	&__head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-right: rem(64);
		margin-bottom: rem(48);
		padding-left: rem(36);

		@include media-breakpoint-down(sm) {
			margin-bottom: rem(32);
			padding-left: 0;
		}
	}

	&__close {
		cursor: pointer;
		@include defaultTransition(opacity);

		&:hover {
			opacity: 0.7;
		}

		@include media-breakpoint-down(sm) {
			position: absolute;
			top: rem(32);
			right: rem(32);
		}
	}

	&__title {

	}

	&__content {
		padding-right: rem(96);

		@include media-breakpoint-down(sm) {
			padding-right: rem(30);
		}

		.field {
			&:not(:last-child) {
				margin-bottom: rem(16);
			}
		}
	}

	/*accordion custom*/
	.accordion-row {
		border: 2px solid $color-light;

		&__roll {
			margin-top: rem(8);

			@include media-breakpoint-down(md) {
				padding-left: rem(36);
			}

			@include media-breakpoint-down(sm) {
				margin-top: 0;
				padding-left: rem(30);
			}
		}

		&__toggle {
			min-height: inherit;
			padding: rem(32) rem(32) rem(32) rem(36);

			@include media-breakpoint-down(sm) {
				padding: rem(24) rem(30);
			}
		}

		&__toggle-text {
			font-size: rem(20);
			line-height: rem(32);

			@include media-breakpoint-down(sm) {
				font-size: rem(16);
				line-height: rem(24);
			}
		}

		& ~ .accordion-row {
			margin-top: -2px;
		}

		&__list-el {
			margin-bottom: rem(24);

			@include last-row(1) {
				margin-bottom: rem(0);
			}
		}
	}
}

/*mfp custom*/
.mfp-filter-popup {
	.mfp-container {
		padding: 0;
	}
}

/* overlay at start */
.mfp-fade.mfp-bg {
	opacity: 0;
	transition: all 0.3s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	transition: all 0.3s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}
