.search-box-result-list {
	&__items {
		height: rem(200);
		margin: rem(16) 0 rem(32);
		padding: 0;
		list-style: none;

		.ps__rail-y {
			top: rem(16) !important;
			right: rem(8) !important;
		}
	}

	&__item {
		padding: rem(12) 0;
		position: relative;
		a, span {
			position: relative;
			display: inline-block;
			align-items: center;
			padding: 0 rem(24);
			color: currentColor;

			&:after {
				content: '';
				position: absolute;
				top: rem(-12);
				bottom: rem(-12);
				left: 0;
				right: 0;
			}
		}
		&:hover {
			background-color: $color-gray;
			cursor: pointer;

			.search-box-result-list__item-link {
				text-decoration: none;
			}
		}
		b {
			color: $color-primary;
		}
	}
}
