$timing: .3s !default;
$easing: ease !default;
$easeInOutQuint: cubic-bezier(0.83, 0, 0.17, 1) !default;

$sal-animation-duration: 2s !default;
$sal-animation-delay: .3s !default;
$sal-slide-offset-Y: 40px !default;

$clip-path-hide: polygon(0 0%, 0% 0, 0 100%, 0 100%);
$clip-path-show: polygon(0 0%, 100% 0, 100% 100%, 0 100%);

$loader-spin-animation: spinAround 0.8s linear infinite;
