$color-white: #fff;
$color-black: #000;
$color-graphite: #242C32;

$color-dim-gray: #7C8084;
$color-gray: #B3B9BD;
$color-light: #EFEFEF;

$color-orange: #F28610;
$color-orange-middle: #F7B670; // opacity 60%
$color-orange-light: #FACF9F; // opacity 40%
$color-orange-20: rgba($color-orange, .2);

$color-red: #E3350F;
$color-green: #95D05E;
$color-blue: rgb(94, 158, 214);

// Main colors
$color-dark: $color-graphite;
$color-primary: $color-orange;
$color-primary-middle: $color-orange-middle;
$color-primary-light: $color-orange-light;

// Semantic colors
$color-error: $color-red;
$color-success: $color-green;
$color-focus: $color-orange;

$focus-shadow: 0 0 0 2px $color-focus;
$card-hover-shadow: 0 0 44px rgba(36, 44, 50, 0.05);

// Color system:
// 'colorName': ('color', 'invert (text)')

$colors: (
	"white": ($color-white, $color-dark),
	"black": ($color-black, $color-white),
	"light": ($color-light, $color-dark),
	"gray": ($color-gray, $color-white),
	"dark": ($color-dark, $color-white),
	"primary": ($color-primary, $color-white)
)
