// Safe Web-fonts
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

//$montserrat: 'Montserrat', $font-family-sans-serif;
//$font-oswald: 'Oswald', $font-family-sans-serif;
$font-cofo: 'CoFo Sans', $font-family-sans-serif;
//$font-opensans: 'Open Sans', $font-family-sans-serif;

$ff-base:         $font-cofo !default;
$ff-title:        $font-cofo !default;
