<div class="slider-cards-layout" data-slider-cards-layout-wrap data-viewport-trigger {{ slider_cards_layout.attr }}>
	{% if slider_cards_layout.heading %}
		<div class="slider-cards-layout__head">
			<h2 class="slider-cards-layout__heading h2"
				data-animate="clip">{{ slider_cards_layout.heading }}</h2>
		</div>
	{% endif %}

	<div class="slider-cards-layout__body">
		<div class="swiper-container" data-slider-cards-layout>
			<div class="swiper-wrapper">
				{% for card in slider_cards_layout.cards %}
					<div class="swiper-slide" {{ card.attr }}>
						<div class="card-animation-shell">
							{% view slider_cards_layout.card_name with {
								card: card
							} %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="slider-cards-layout__bottom" data-animate="fade-in-up" data-animate-delay="4">
		{% if slider_cards_layout.buttons %}
			<div class="slider-cards-layout__buttons">
				{% for button in slider_cards_layout.buttons %}
					{% view '@button' with button %}
				{% endfor %}
			</div>
		{% endif %}
		<div class="slider-cards-layout__nav">
			{% view '@nav-arrows' with {
				"nav_arrows": {
					"theme": "border-dark",
					"hover": "white"
				}
			} %}
		</div>
	</div>
</div>
