{% if image.type == 'bg' %}
	{% if image.disable_lazy or image.parallax %}
		<div class="image{% if image.class %} {{ image.class }}{% endif %}"
			 role="img"
			 aria-label="{{ image.alt ?: image.caption ?: 'image' }}"
			 {% if image.title %}title="{{ image.title }}"{% endif %}
			 style="background-image: url('{{ image.src }}');"
			{% if image.parallax %} data-parallax{% endif %}
			{% if image.size.width and image.size.height %} data-size="{{ image.size.width }}x{{ image.size.height }}" data-popup-image="{{ image.src }}" {% endif %}></div>
	{% elseif image.swiper_lazy %}
		<div class="image swiper-lazy{% if image.class %} {{ image.class }}{% endif %}"
			 role="img"
			 aria-label="{{ image.alt ?: image.caption ?: 'image' }}"
			 {% if image.title %}title="{{ image.title }}"{% endif %}
			 data-background="{{ image.src }}"
			{% if image.size.width and image.size.height %} data-size="{{ image.size.width }}x{{ image.size.height }}" data-popup-image="{{ image.src }}" {% endif %}></div>
	{% else %}
		<div class="image is-lazy{% if image.class %} {{ image.class }}{% endif %}"
			 role="img"
			 aria-label="{{ image.alt ?: image.caption ?: 'image' }}"
			 {% if image.title %}title="{{ image.title }}"{% endif %}
			 data-bg="{{ image.src }}"
			{% if image.size.width and image.size.height %} data-size="{{ image.size.width }}x{{ image.size.height }}" data-popup-image="{{ image.src }}" {% endif %}></div>
	{% endif %}
{% else %}
	{% if image.disable_lazy %}
		<img class="image{% if image.class %} {{ image.class }}{% endif %}"
			 src="{{ image.src }}"
			 {% if image.srcset %}srcset="{% for item in image.srcset %}{{ item.src }}{% if item.scale and item.scale > 1 %} {{ item.scale }}x{% endif %}{% if loop.index < image.srcset.length %}, {% endif %}{% endfor %}"{% endif %}
			 alt="{{ image.alt ?: image.caption ?: 'image' }}"
			{% if image.title %}title="{{ image.title }}"{% endif %}
			{% if image.parallax %} data-parallax{% endif %}
			{% if image.size.width and image.size.height %} data-size="{{ image.size.width }}x{{ image.size.height }}" data-popup-image="{{ image.src }}" {% endif %}>
	{% elseif image.swiper_lazy %}
		<img class="image swiper-lazy{% if image.class %} {{ image.class }}{% endif %}"
			 src="{{ placeholder?: 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' }}"
			 data-src="{{ image.src }}"
			 {% if image.srcset %}data-srcset="{% for item in image.srcset %}{{ item.src }}{% if item.scale and item.scale > 1 %} {{ item.scale }}x{% endif %}{% if loop.index < image.srcset.length %}, {% endif %}{% endfor %}"{% endif %}
			 alt="{{ image.alt ?: image.caption ?: 'image' }}"
			{% if image.title %}title="{{ image.title }}"{% endif %}
			{% if image.parallax %} data-parallax{% endif %}
			{% if image.size.width and image.size.height %} data-size="{{ image.size.width }}x{{ image.size.height }}" data-popup-image="{{ image.src }}" {% endif %}>
	{% else %}
		<img class="image is-lazy{% if image.class %} {{ image.class }}{% endif %}"
			 src="{{ placeholder?: 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' }}"
			 data-src="{{ image.src }}"
			 {% if image.srcset %}data-srcset="{% for item in image.srcset %}{{ item.src }}{% if item.scale and item.scale > 1 %} {{ item.scale }}x{% endif %}{% if loop.index < image.srcset.length %}, {% endif %}{% endfor %}"{% endif %}
			 alt="{{ image.alt ?: image.caption ?: 'image' }}"
			{% if image.title %}title="{{ image.title }}"{% endif %}
			{% if image.parallax %} data-parallax{% endif %}
			{% if image.size.width and image.size.height %} data-size="{{ image.size.width }}x{{ image.size.height }}" data-popup-image="{{ image.popup_src ?:image.src }}" {% endif %}>
	{% endif %}
{% endif %}
