.hero-search {
	position: relative;
	padding-left: rem(30);
	padding-right: rem(30);
	@include media-breakpoint-up(md) {
		padding-left: $col-4-of-24;
		padding-right: $col-1-of-24;
	}
	@include media-breakpoint-up(lg) {
		padding-left: $col-3-of-24;
		padding-right: $col-1-of-24;
	}
	&__wrap {
		padding-top: rem(120);
		padding-bottom: rem(56);
		min-height: rem(360);
		position: relative;
		@include media-breakpoint-up(md) {
			min-height: rem(568);
			padding-top: rem(200);
			padding-bottom: rem(80);
		}
		@include media-breakpoint-up(lg) {
			padding-top: rem(160);
			padding-bottom: rem(96);
			min-height: rem(432);
		}
	}
	&__inner {
		display: flex;
		flex-wrap: wrap;
		@include media-breakpoint-down(md) {
			flex-direction: column;
		}
	}
	&__breadcrumb {
		width: 100%;
		flex: 0 0 auto;
		margin-bottom: rem(16);

		@include media-breakpoint-up(md) {
			margin-bottom: rem(40);
		}
	}
	&__form {
		width: 100%;
		margin-bottom: rem(8);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(24);
		}
	}
	&__bottom {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		@include media-breakpoint-up(md) {
			padding-right: rem(130);
		}

		@include media-breakpoint-up(lg) {
			padding-right: rem(112);
		}
	}

	&__result-count {
		padding-right: rem(32);
		@include text-default;
		color: $color-gray;

		@include media-breakpoint-down(md) {
			width: 100%;
		}

		@include media-breakpoint-only(sm) {
			margin-bottom: rem(56);
		}

		@include media-breakpoint-only(md) {
			margin-bottom: rem(80);
		}
	}

	&__filter-list {
		display: flex;
		flex-wrap: wrap;
		margin: rem(-8) 0;
		padding: 0;
		list-style: none;
	}

	&__filter {
		padding: rem(8) 0;
		&:not(:last-child) {
			margin-right: rem(16);

			@include media-breakpoint-up(md) {
				margin-right: rem(112);
			}

			@include media-breakpoint-up(lg) {
				margin-right: rem(64);
			}
		}
	}
}
