.card-story {
	$b: #{&};
	width: 100%;
	display: flex;
	flex-direction: column;
	text-decoration: none !important;
	background-color: $color-white;
	color: $color-dark;
	@include text-default;
	@include defaultTransition(transform, box-shadow);

	&__image {
		width: 100%;
		height: rem(256);
		background-color: $color-gray;

		&-mask {
			display: block;
			width: 100%;
			height: 100%;
		}

		.image {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			background-size: cover;
			background-position: center;
		}
	}

	&__body {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@include media-breakpoint-only(sm) {
			padding: rem(24) rem(32);
		}

		@include media-breakpoint-up(md) {
			padding: rem(32);
		}

		&-top {
		}

		&-bottom {
		}
	}

	&__heading {
		@include h5;
		margin-bottom: rem(4);
	}

	&__text {
	}

	&__note {
		color: $color-dim-gray;
		margin-top: rem(32);
	}
}

a.card-story {
	&:focus {
		outline: none;
	}

	&:focus,
	&:hover {
		@include card-translate-hover;
	}
}
