.section-complex {
	@include media-breakpoint-up(lg) {
		padding-left: $col-4-of-24;
	}

	&__main {
		display: flex;

		&-content {
			@include media-breakpoint-only(sm) {
				padding-top: rem(48);
				padding-bottom: rem(64);
				padding-left: $col-1-of-12;
				padding-right: $col-1-of-12;
			}

			@include media-breakpoint-only(md) {
				padding-top: rem(96);
				padding-left: $col-4-of-24;
				padding-right: $col-3-of-24;
				padding-bottom: rem(96);
			}

			@include media-breakpoint-up(lg) {
				width: 65%;
				min-height: rem(440);
				padding-top: rem(80);
				padding-bottom: rem(56);
				padding-right: $col-4-of-24;
			}
		}

		&-image {
			position: relative;
			@include animate-image();

			@include media-breakpoint-down(md) {
				display: none;
			}

			@include media-breakpoint-up(lg) {
				width: 35%;
				min-height: rem(400);
			}

			.image {
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				object-fit: cover;
				object-position: center;
				background-size: cover;
			}
		}

		&-heading {
			margin-bottom: rem(40);

			@include media-breakpoint-only(md) {
				margin-bottom: rem(48);
			}

			@include media-breakpoint-up(lg) {
				margin-left: calc(100vw / 24 * -1);
			}
		}

		&-lead {
			margin-bottom: rem(32);

			@include media-breakpoint-only(sm) {
				margin-bottom: rem(24);
			}
		}
	}

	&__bottom {
		@include media-breakpoint-only(sm) {
			padding-top: rem(56);
			padding-bottom: rem(56);
			padding-left: $col-1-of-12;
			padding-right: $col-1-of-12;
		}

		@include media-breakpoint-only(md) {
			padding-top: rem(64);
			padding-left: $col-4-of-24;
			padding-right: $col-1-of-24;
			padding-bottom: rem(64);
		}

		@include media-breakpoint-up(lg) {
			padding-top: rem(56);
			padding-bottom: rem(48);
			padding-left: $col-2-of-24;
		}

		&--factor {
			@include media-breakpoint-up(lg) {
				padding-top: rem(120);
				padding-bottom: rem(112);
				padding-left: $col-2-of-24;
			}
		}
	}
}


.section-complex-slider-outer {
	@include media-breakpoint-up(lg) {
		display: flex;
	}
}

.section-complex-slider-heading {
	@include media-breakpoint-only(sm) {
		margin-bottom: rem(40);
	}

	@include media-breakpoint-only(md) {
		padding-right: $col-2-of-24;
		margin-bottom: rem(56);
	}

	@include media-breakpoint-up(lg) {
		width: 55.5%;
		padding-right: $col-1-of-24;
	}
}

.section-complex-slider-wrap {
	@include media-breakpoint-only(md) {
		display: flex;
	}

	@include media-breakpoint-up(lg) {
		width: 44.5%;
	}
}

.section-complex-slider-nav {
	@include media-breakpoint-only(sm) {
		margin-top: rem(40);
	}

	@include media-breakpoint-only(md) {
		align-items: flex-end;
		justify-content: flex-end;
		width: 42%;
	}

	@include media-breakpoint-up(lg) {
		margin-top: rem(32);
		padding-left: $col-1-of-24;
	}
}

.section-complex-slider {
	@include media-breakpoint-only(sm) {
		margin-left: calc(100vw / 12 * -1);
		margin-right: calc(100vw / 12 * -1);
	}

	@include media-breakpoint-only(md) {
		width: 58%;
		margin-left: calc(100vw / 24 * -1);
	}

	&__item {
		@include media-breakpoint-only(sm) {
			padding-left: $col-1-of-12;
			padding-right: $col-1-of-12;
		}

		@include media-breakpoint-only(md) {
			padding-left: $col-1-of-24;
		}

		@include media-breakpoint-up(lg) {
			padding-top: rem(24);
			padding-right: $col-1-of-24;
			padding-left: $col-1-of-24;
		}

		&-heading {
			position: relative;
			margin-bottom: rem(16);

			@include media-breakpoint-only(sm) {
				margin-bottom: rem(24);
			}

			sup {
				position: absolute;
				top: 0;
				right: calc(100% + 4px);
				font-size: 0.5em;
				line-height: inherit;
				opacity: 0.5;
			}
		}
	}
}


/*section-complex-factor*/
.section-complex-factor {
	&__wrap {
		display: flex;
		flex-wrap: wrap;
	}

	&__title {
		max-width: rem(300);
		margin-right: rem(120);

		@include media-breakpoint-down(md) {
			margin-right: 0;
			margin-bottom: rem(40);
		}
	}

	/*Custom factor*/
	&__list {
		.factor-list {
			margin-left: rem(-30);
			margin-right: rem(-30);
		}

		.factor {
			min-width: rem(240);
			padding-left: rem(30);
			padding-right: rem(30);
		}
	}
}
