<div class="section-complex-factor">

	<div class="section-complex-factor__wrap">

		{% if section_complex.factor.heading %}
			<div class="section-complex-factor__title h2">{{ section_complex.factor.heading }}</div>
		{% endif %}

		<div class="section-complex-factor__list">

			{% if section_complex.factor.factor_list %}
				{% view '&factor-list' with {
					factor_list: section_complex.factor.factor_list
				} %}
			{% endif %}

		</div>

	</div>

</div>
