<div class="card-feature-list-wrapper">
	{% if list.heading %}
		<h2 class="card-feature-list-head h2 wrap-l-1 wrap-r-1">{{ list.heading }}</h2>
	{% endif %}
	<ul class="card-feature-list">
		{% for card in list.items %}
			<li class="card-feature-list__item">
				{% view	'^card-feature' with {
					card: card
				}%}
			</li>
		{% endfor %}
	</ul>
</div>
