{% if link.text or link.icon %}
    {% if link.href %}
        <a href="{{ link.href }}"
           class="link-action{% if link.modificator %} link-action--{{ link.modificator }}{% endif %}{% if link.class %} {{ link.class }}{% endif %}{% if link.tag %} link-action--tag{% endif %}"
            {% if link.title %} title="{{ link.title }}"{% endif %}
            {% if link.external %} target="_blank"{% endif %}
            {% if link.attr %} {{ link.attr }}{% endif %}>
            {% if link.icon.name %}
                {% view '@icon' with {
                    icon: {
                        name: link.icon.name,
                        size: link.icon.size,
                        class: "link-action__icon"
                    }
                } %}
            {% endif %}
            {% if link.text %}
                <span class="link-action__text">{{ link.text }}</span>
            {% endif %}
        </a>
    {% else %}
        <button
            type="{{ link.type? ' ' : 'button' }}"
            class="link-action{% if link.modificator %} link-action--{{ link.modificator }}{% endif %}{% if link.class %} {{ link.class }}{% endif %}{% if link.tag %} link-action--tag{% endif %}"
            {% if link.disabled %} disabled{% endif %}
            {% if link.title %} title="{{ link.title }}"{% endif %}
            {% if link.count %} data-tab="{{ loop.index }}" {% endif %}
            {% if link.attr %} {{ link.attr }}{% endif %}>
            {% if link.icon.name %}
                {% view '@icon' with {
                    icon: {
                        name: link.icon.name,
                        size: link.icon.size,
                        class: "link-action__icon"
                    }
                } %}
            {% endif %}
            {% if link.text %}
                <span class="link-action__text">{{ link.text }}</span>
            {% endif %}
        </button>
    {% endif %}
{% endif %}
