<div class="nav-arrows nav-arrows--{{ nav_arrows.theme ?: 'border-dark' }} nav-arrows--hover-{{ nav_arrows.hover ?: 'white' }}"{% if nav_arrows.attr %} {{ nav_arrows.attr }}{% endif %}>
	<button type="button" class="nav-arrows__button" data-nav-arrow-prev
			title="{{ text_helpers.backward }}" aria-label="{{ text_helpers.backward }}">
		{% view '@icon' with {
			icon: {
				name: "arrows/chevron-left"
			}
		} %}
	</button>
	<button type="button" class="nav-arrows__button" data-nav-arrow-next
			title="{{ text_helpers.forward  }}" aria-label="{{ text_helpers.forward }}">
		{% view '@icon' with {
			icon: {
				name: "arrows/chevron-right"
			}
		} %}
	</button>
</div>
