.nav-arrows {
	$b: #{&};
	display: flex;

	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		border: 2px solid;
		border-radius: 0;
		padding: 0;
		width: rem(48);
		height: rem(48);
		transition-property: color, background-color, border, opacity;
		transition-duration: $timing;
		transition-timing-function: $easing;

		&:focus {
			outline: none;
		}

		@include media-breakpoint-up(md) {
			height: rem(56);
			width: rem(56);

			&:nth-child(1) {
				padding-right: rem(2);
			}

			&:nth-child(2) {
				padding-left: rem(2);
			}
		}

		~ #{$b}__button {
			margin-left: rem(8);

			@include media-breakpoint-up(md) {
				margin-left: rem(16);
			}
		}

		&.disabled,
		&:disabled {
			@include btn-disabled;
		}
	}

	&--border-dark {
		#{$b}__button {
			@include btn-border-dark;
		}
	}

	&--border-white {
		#{$b}__button {
			@include btn-border-white;
		}
	}

	&--hover-light {
		#{$b}__button {
			@include btn-hover-light;
		}
	}

	&--hover-white {
		#{$b}__button {
			@include btn-hover-white;
		}
	}
}
