$user-text-padding-bottom-lg: rem(80);
$user-text-padding-bottom-md: rem(64);
$user-text-padding-bottom-sm: rem(40);

$content-padding-left-lg: rem(58);
$content-padding-left-md: rem(64);
$content-padding-left-sm: rem(30);

.accordion {

	&__title {
		margin-bottom: rem(24);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(48);
		}
		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
		}
	}
	&__top {
		margin-bottom: rem(24);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(48);
		}
		@include media-breakpoint-up(lg) {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		@at-root .wrap-l-6 & {
			@include media-breakpoint-only(sm) {
				padding-left: $col-1-of-12;
				padding-right: $col-1-of-12;
			}
		}
		@at-root .wrap-l-3 & {
			@include media-breakpoint-only(sm) {
				padding-left: $col-1-of-12;
				padding-right: $col-1-of-12;
			}
		}
	}
}

.accordion-row {
	$b: #{&};
	display: flex;
	flex-direction: column;
	background-color: $color-white;

	&__toggle {
		border: 0;
		border-radius: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		text-align: left;
		background-color: transparent;
		color: inherit;
		cursor: pointer;
		//transition: background-color $timing $easing;
		outline-offset: -5px;

		@include media-breakpoint-down(sm) {
			padding: rem(32) $content-padding-left-sm rem(32) $content-padding-left-sm;
			min-height: rem(88);
		}

		@include media-breakpoint-up(md) {
			padding: rem(36) $content-padding-left-md rem(36) $content-padding-left-md;
			min-height: rem(136);
		}

		@include media-breakpoint-up(lg) {
			padding: rem(36) $content-padding-left-lg rem(36) $content-padding-left-lg;
		}

		&:hover {
			outline: none;

			#{$b}__toggle-text {
				color: $color-orange;
			}

			#{$b}__toggle-arrow {
				color: $color-orange;
			}
		}

		&-text {
			@include h4;
			@include defaultTransition(color);

			@include media-breakpoint-down(sm) {
				max-width: rem(240);
			}

			@include media-breakpoint-up(md) {
				max-width: rem(512);
			}
			@include media-breakpoint-up(lg) {
				max-width: rem(840);
			}
		}

		&-arrow {
			flex-shrink: 0;
			transform-origin: center;
			transition: transform $timing $easing, color $timing $easing;
		}
	}

	&__roll {
		@include media-breakpoint-down(sm) {
			padding-left: $content-padding-left-sm;
			padding-right: $content-padding-left-sm;
		}

		@include media-breakpoint-up(md) {
			padding-left: $content-padding-left-md;
			padding-right: $content-padding-left-md;
		}

		@include media-breakpoint-up(lg) {
			padding-left: $content-padding-left-lg;
			padding-right: $content-padding-left-lg;
		}
	}

	&__content {
		.user-text {
			img {
				display: block;
			}
		}
		@include media-breakpoint-down(sm) {
			padding-bottom: $user-text-padding-bottom-sm;
			.user-text {
				img {
					//width: calc( 100% + #{$content-padding-left-sm} * 2 );
					//margin-left: -$content-padding-left-sm;
					width: 100%;
					margin-top: rem(48);
					margin-bottom: rem(48);
					&:last-child {
						margin-bottom: -$user-text-padding-bottom-sm;
					}
				}

				// User text img animate wrap
				&__img-wrap {
					width: calc( 100% + #{$content-padding-left-sm} * 2 );
					margin-left: -$content-padding-left-sm;
				}
			}
		}

		@include media-breakpoint-up(md) {
			padding-bottom: $user-text-padding-bottom-md;
			.user-text {
				img {
					//width: calc( 100% + #{$content-padding-left-md} * 2 );
					//margin-left: -$content-padding-left-md;
					width: 100%;
					margin-top: rem(64);
					margin-bottom: rem(64);
					&:last-child {
						margin-bottom: -$user-text-padding-bottom-md;
					}
				}

				// User text img animate wrap
				&__img-wrap {
					width: calc( 100% + #{$content-padding-left-md} * 2 );
					margin-left: -$content-padding-left-md;
				}
			}
		}

		@include media-breakpoint-up(lg) {
			padding-bottom: $user-text-padding-bottom-lg;
			.user-text:not(.user-text__img) {
				max-width: rem(840);
			}
			.user-text {
				*:not(.user-text__img) {
					max-width: rem(840);
				}
				p, ul, ol {
					max-width: rem(840);
				}
				img {
					//width: calc( 100% + #{$content-padding-left-lg} * 2 );
					//margin-left: -$content-padding-left-lg;
					width: 100%;
					margin-top: rem(80);
					margin-bottom: rem(80);
					&:last-child {
						margin-bottom: -$user-text-padding-bottom-lg;
					}
				}

				// User text img animate wrap
				&__img-wrap {
					width: calc( 100% + #{$content-padding-left-lg} * 2 );
					margin-left: -$content-padding-left-lg;
				}
			}
		}
	}

	&:not(.shown) {
		#{$b}__roll {
			display: none;
		}
	}

	&.shown {
		#{$b}__toggle {
			outline: none;

			&-arrow {
				transform: rotate(-90deg);
			}
		}
	}

	~ #{$b} {
		margin-top: 2px;
	}
}
