<div class="accordion" data-accordion {{ accordion.attr }}>
	{% if accordion.heading or accordion.action %}
		<div class="accordion__top">
			{% if accordion.heading %}
				<h3 class="accordion__title h3">{{ accordion.heading }}</h3>
			{% endif %}
			{% if accordion.action %}
				<div class="accordion__action">
					{% view '@button' with {
						button: accordion.action
					}%}
				</div>
			{% endif %}
		</div>
	{% endif %}
	{% for item in accordion.items %}
		<div class="accordion-row{% if item.active %} shown{% endif %}" data-accordion-row {{ item.attr }}  data-viewport-trigger data-animate="fade-in-up"
			{% if accordion.faq %} itemscope itemtype="http://schema.org/Question"{% endif %}>
			<button type="button" class="accordion-row__toggle" data-accordion-toggle>
				<span class="accordion-row__toggle-text"{% if accordion.faq %} itemprop="name"{% endif %}>{{ item.heading|raw }}</span>
				<span class="accordion-row__toggle-arrow">
					{% svg 'arrows/chevron-right' %}
				</span>
			</button>
			<div class="accordion-row__roll" {% if item.active %}style="display: block;"{% endif %} data-accordion-roll>
				<div class="accordion-row__content"{% if accordion.faq %} itemprop="suggestedAnswer" itemscope itemtype="http://schema.org/Answer"{% endif %}>

					{% if item.text %}
						<div class="user-text" data-animate-user-text="repeat"{% if accordion.faq %} itemprop="text"{% endif %}>
							{{ item.text|raw }}
						</div>
					{% endif %}

					{% if item.list %}
						<div class="accordion-row__list"{% if accordion.faq %} itemprop="text"{% endif %}>
							{% for field in item.list.items %}
								<div class="accordion-row__list-el">
									{% view '^field' %}
								</div>
							{% endfor %}
						</div>
					{% endif %}

				</div>
			</div>
		</div>
	{% endfor %}
</div>
