{% extends 'layouts::_page.twig' %}

{% set title = "HR appeal" %}

{% block content %}
	{% view '&hero-story' with {
		hero: hero
	} %}

	{% view '&user-content-story' %}
	<div class="mt-64 mt-md-96 mt-lg-128">
		{% view '&action-banner' with {
			action_banner: action_banner
		}%}
	</div>
{% endblock %}
