{% extends 'layouts::_page.twig' %}

{% set title = "HR Career " %}

{% block content %}
	{% view '&hero-default' with {
		hero: hero
	} %}
	<div class="mb-lg-72 mb-md-96 mb-64">
		{% view '&feature-list-ol-slider' with {
			slider: slider
		}%}
	</div>
	<div class="mt-64 mt-md-96 mt-lg-128">
		{% view '&action-banner' with {
			action_banner: action_banner
		}%}
	</div>
	<div class="mt-64 mt-md-96 mb-lg-72 mb-md-96 mb-64">
		{% view '&slider-cards-layout' with {
			slider_cards_layout: slider_cards
		} %}
	</div>
	<div class="mt-64 mt-md-96">
		{% view '&button-major-group' with {
			button_group: button_group
		}%}
	</div>
{% endblock %}
