{% extends 'layouts::_page.twig' %}

{% set title = "HR Contacts" %}

{% block content %}
	{% view '&hero-contacts' with {
		hero: hero
	} %}
	{% if hero.button_group %}
		{% view '&button-major-group' with {
			button_group: hero.button_group|merge({
				class: "d-lg-none"
			})
		} %}
	{% endif %}
{% endblock %}
