{% extends 'layouts::_page.twig' %}

{% set title = "HR Сare " %}

{% block content %}
	{% view '&hero-default' with {
		hero: hero
	} %}
	<div class="mb-lg-72 mt-64 mt-md-96 mt-lg-112 mb-md-96 mb-64">
		{% view '&card-feature-list' with {
			list: feature_list
		} %}
	</div>
	<div class="mt-64 mt-md-96 mb-lg-72 mb-md-96 mb-64 wrap-l-1 wrap-r-1">
		{% view '&block-text-default' with {
			block: block_text
		} %}
	</div>
	<div class="mt-64 mt-md-96 mt-lg-128">
		{% view '&action-banner' with {
			action_banner: action_banner
		}%}
	</div>
	<div class="mt-64 mt-md-96">
		{% view '&button-major-group' with {
			button_group: button_group
		}%}
	</div>
{% endblock %}
