{% extends 'layouts::_page.twig' %}

{% set title = "HR Corporate culture " %}

{% block content %}
	{% view '&hero-default' with {
		hero: hero
	} %}

	<div class="mt-64 mt-md-96 mb-lg-72 mb-md-96 mb-64 wrap-l-1 wrap-r-5">
		{% view '&block-text-horizontal' with {
			block: block_text_1
		}%}
	</div>

	<div class="mt-64 mt-md-96 mb-lg-72 mb-md-96 mb-64 wrap-l-1 wrap-r-5">
		{% view '&feature-list' with {
			list: feature_list
		}%}
	</div>

	<div class="mt-64 mt-md-96 mb-lg-72 mb-md-96 mb-64">
		{% view '&banner' with {
			banner: banner
		} %}
	</div>

	<div class="mt-64 mt-md-96 mb-lg-72 mb-md-96 mb-64">
		{% view '&feature-list-ol-slider' with {
			slider: slider
		}%}
	</div>

	<div class="mt-64 mt-md-96 mt-lg-128 mb-64 mb-md-96">
		{% view '&action-banner' with {
			action_banner: action_banner
		}%}
	</div>
	<div class="mt-64 mt-md-96">
		{% view '&button-major-group' with {
			button_group: button_group
		}%}
	</div>
{% endblock %}
