{% extends 'layouts::_page.twig' %}

{% set title = "HR Learning and Developing" %}

{% block content %}
	{% view '&hero-default' with {
		hero: hero
	} %}

	{% if description %}
		<div class="wrap-l-1 wrap-r-5 mt-64 mt-md-96 mb-lg-32 mb-64">
			{% view '&block-text-horizontal' with {
				block: description
			} %}
		</div>
	{% endif %}

	{% if factor_list %}
		<div class="wrap-l-1 wrap-r-3 mb-64 mb-md-128">
			{% view '&factor-list' %}
		</div>
	{% endif %}

	{% if quote_block %}
		<div class="wrap-l-1 wrap-r-1 py-96 py-md-112 bg-white">
			{% view '&quote-block' with quote_block %}
		</div>
	{% endif %}

	{% if diagram_bar_layout %}
		<div class="wrap-l-1 wrap-r-3 mt-96 mt-md-128 mb-64 mb-md-96">
			{% view '&diagram-bar-layout' with diagram_bar_layout %}
		</div>
	{% endif %}

	{% if accordion %}
		<div class="wrap-l-3 wrap-r-6 mt-64 mt-md-96 mb-64 mb-md-128">
			{% view '^accordion' with accordion %}
		</div>
	{% endif %}

	{% if action_banner %}
		<div class="mb-64 mb-md-96">
			{% view '&action-banner' with action_banner %}
		</div>
	{% endif %}

	{% if button_group %}
		{% view '&button-major-group' with button_group %}
	{% endif %}

{% endblock %}
