{% extends 'layouts::_page.twig' %}

{% set title = "HR Main" %}

{% block content %}

	{% view	'&hero-main' %}

	<div class="wrap wrap-l-1 wrap-r-1 mt-64 mt-md-96 mt-lg-112">
		{% view '&filter' %}
	</div>

	<div class="mt-64 mt-md-96 mt-lg-112">
		{% view '&slider-directions' %}
	</div>

	<div class="mt-64 mt-md-96 mt-lg-128">
		{% view '&action-banner' with {
			action_banner: action_banner1
		}%}
	</div>

	<div class="wrap wrap-l-1 wrap-r-1 mt-64 mt-md-96 mt-lg-128">
		{% view '&block-text-factor' with {
			block: text_block1
		}%}
	</div>

	<div class="mt-64 mt-md-80 wrap-l-1">
		{% view	'&gallery-slider' %}
	</div>

	<div class="wrap-l-1 wrap-r-1 mt-64 mt-lg-112">
		{% view '&feature-list' with {
			list: feature_list
		}%}
	</div>

	<div class="wrap-l-1 wrap-r-1 mt-80 mt-md-96 mt-lg-112 py-112 bg-white">
		{% view '&quote-block' %}
	</div>

	{% view '&button-major-group' with {
		button_group: button_group1
	}%}

	<div class="mt-64 mt-md-96 mt-lg-144">
		{% view '&block-character' %}
		{% view '&block-character' with {
			block_character: block_character_2
		} %}
	</div>

	<div class="mt-64 mt-md-96">
		{% view '&slider-cards-layout' with {
			slider_cards_layout: slider_cards_layout
		} %}
	</div>

	<div class="wrap-l-1 wrap-r-1 pt-96 pb-112 mt-64 mt-md-96 mt-lg-112 bg-white">
		{% view '&quote-block' with {
			quote_block: quote_block2
		}%}
	</div>

	<div class="mt-64 mt-md-96 mt-lg-112">
		{% view '&slider-cards-layout' with {
			slider_cards_layout: slider_cards_layout2
		} %}
	</div>

	<div class="mt-64 mt-md-96 mt-lg-128">
		{% view '&action-banner' with {
			action_banner: action_banner2
		}%}
	</div>

	<div class="mt-64 mt-md-96">
		{% view '&button-major-group' with {
			button_group: button_group2
		}%}
	</div>
{% endblock %}
