{% extends 'layouts::_page.twig' %}

{% set title = "HR Professionals" %}

{% block content %}
	{% view '&hero-default' with {
		hero: hero
	} %}

	<div class="mt-64 mt-md-96 wrap-l-1 wrap-r-5">
		{% view '&block-text-factor' with {
			block: description
		} %}
	</div>

	<div class="wrap-l-1 wrap-r-1 mt-64 mt-lg-24 mb-lg-112 mb-64">
		{% view '&feature-list' with {
			list: feature
		} %}
	</div>

	{% view '&section-complex' with {
		section_complex: staff
	} %}

	<!-- Slider History -->
	{% if slider_cards_layout %}
		<!-- Slider History -->
		<div class="mt-64 mt-md-112 mb-64 mb-md-128">
			{% view '&slider-cards-layout' with slider_cards_layout %}
		</div>
	{% endif %}

	{% if action_banner %}
		<div class="mb-64 mb-md-96">
			{% view '&action-banner' with action_banner %}
		</div>
	{% endif %}

	{% if button_group %}
		{% view '&button-major-group' with button_group %}
	{% endif %}

{% endblock %}
