{% extends 'layouts::_page.twig' %}

{% set title = "HR Specialists" %}

{% block content %}
	{% view '&hero-default' with {
		hero: hero
	} %}

	<div class="mt-64 mt-md-96 mb-64 mb-md-80 wrap-l-1 wrap-r-5">
		{% view '&block-text-factor' with {
			block: description
		} %}
	</div>

	<div class="wrap-l-1 wrap-r-1 pt-40 pt-md-96 pt-lg-144 pb-48 pb-md-96 pb-lg-192 bg-white">
		{% view '&quote-block' with quote_block %}
	</div>

	<div class="wrap-l-1 wrap-r-5 mt-64 mt-md-96 mb-32 mb-md-64">
		{% view '&block-text-horizontal' with {
			block: block_text
		} %}
	</div>

	<div class="wrap-l-1">
		{% view '&feature-list-ol' with {
			list: feature_list
		} %}
	</div>

	<div class="mt-64 mt-md-96 mt-lg-184 mb-64 mb-md-128">
		{% view '&block-character' with {
			block_character: block_character
		} %}
	</div>

	<div class="mb-64 mb-md-96">
		{% view '&action-banner' with action_banner %}
	</div>

	<!-- Slider -->
	<div class="mt-64 mt-md-112 mb-64 mb-md-128">
		{% view '&slider-cards-layout' with {
			slider_cards_layout: slider
		} %}
	</div>

	{% view '&button-major-group' with button_group %}

{% endblock %}
