{% extends 'layouts::_page.twig' %}

{% set title = "HR Students Schools" %}

{% block content %}
	{% view '&hero-default' with {
		hero: hero
	} %}

	{% if description %}
		<div class="mt-64 mt-md-96 mb-lg-72 mb-md-96 mb-64 wrap-l-1 wrap-r-5">
			{% view '&block-text-factor' with {
				block: description
			} %}
		</div>
	{% endif %}

	{% if staff %}
		{% view '&section-complex' with {
			section_complex: staff
		} %}
	{% endif %}

	{% if description_student %}
		<div class="mt-64 mt-md-96 mb-lg-72 mb-md-96 mb-64 wrap-l-1 wrap-r-1">
			{% view '&block-text-factor' with {
				block: description_student
			} %}
		</div>
	{% endif %}

	{% if practice %}
		{% view '&block-text-factor-image' with {
			block: practice
		} %}
	{% endif %}

	{% if block_character %}
		<div class="mt-64 mt-md-96 mt-lg-184 mb-64 mb-md-112">
			{% view '&block-character' with block_character %}
		</div>
	{% endif %}

	{% if slider %}
		<!-- Slider -->
		<div class="mb-64 mb-md-96">
			{% view '&slider-cards-layout' with {
				slider_cards_layout: slider
			} %}
		</div>
	{% endif %}

	{% if button_group %}
		{% view '&button-major-group' with button_group %}
	{% endif %}

{% endblock %}
