{% extends 'layouts::_page.twig' %}

{% set title = "HR Story inner" %}

{% block content %}
	{% view '&hero-story' with {
		hero: hero
	} %}

	{% view '&user-content-story' %}

	{% if slider_cards_layout %}
		<div class="mt-64 mt-md-112 mb-64 mb-md-96">
			{% view '&slider-cards-layout' with slider_cards_layout %}
		</div>
	{% endif %}

	{% if action_banner %}
		<div class="mb-64 mb-md-96">
			{% view '&action-banner' with action_banner %}
		</div>
	{% endif %}

	{% if button_group %}
		{% view '&button-major-group' with button_group %}
	{% endif %}

{% endblock %}

{% block endPage %}
	{% if unit_share %}
		<script src="https://yastatic.net/share2/share.js" async="async"></script>
	{% endif %}
{% endblock %}
