{% extends 'layouts::_page.twig' %}

{% set title = "HR Vacancies" %}

{% block content %}
	{% view '&hero-default' with {
		hero: hero
	} %}

	<div class="mt-64 mt-lg-112 mt-md-96 mb-64 mb-lg-144 mb-md-96 wrap-r-1">
		{% view '&filter' with filter %}
	</div>

	{% if action_banner %}
		<div class="mb-64 mb-md-96">
			{% view '&action-banner' with action_banner %}
		</div>
	{% endif %}

	{% view '&button-major-group' with button_group %}

{% endblock %}
