{% extends 'layouts::_page.twig' %}

{% set title = "HR why-are-we" %}

{% block content %}
	{% view '&hero-default' with {
		hero: hero
	} %}

	<div class="mt-64 mt-md-96 mb-lg-72 mb-md-96 mb-64 wrap-l-1 wrap-r-1">
		{% view '&block-text-horizontal' with {
			block: block_text
		}%}
	</div>
	<div class="mt-64 mt-md-96 mb-lg-72 mb-md-96 mb-64">
		{% view '&block-character' with {
			block_character: block_character
		}%}
	</div>
	<div class="mt-64 mt-md-96 mb-lg-72 mb-md-96 mb-64 wrap-l-1 wrap-r-1">
		{% view '&feature-list-ol' with {
			list: feature_list
		}%}
	</div>
	<div class="mt-64 mt-md-96 mt-lg-128">
		{% view '&action-banner' with {
			action_banner: action_banner
		}%}
	</div>
	<div class="mt-64 mt-md-96">
		{% view '&button-major-group' with {
			button_group: button_group
		}%}
	</div>
{% endblock %}
