{% extends 'layouts::_page.twig' %}

{% set title = "Организмы" %}

{% block content %}

	<div class="mt-128 wrap-l-1">
		<div class="my-16">
			{% svg '64/building' %}
		</div>
		<div class="my-16">
			{% svg '64/staff' %}
		</div>
		<div class="my-16">
			{% svg '64/play' %}
		</div>
		<div class="my-16">
			{% svg '64/calculator' %}
		</div>
		<div class="my-16">
			{% svg '64/cement' %}
		</div>
		<div class="my-16">
			{% svg '64/concrete' %}
		</div>
		<div class="my-16">
			{% svg '64/control' %}
		</div>
		<div class="my-16">
			{% svg '64/delivery' %}
		</div>
		<div class="my-16">
			{% svg '64/designing' %}
		</div>
		<div class="my-16">
			{% svg '64/education' %}
		</div>
		<div class="my-16">
			{% svg '64/energy' %}
		</div>
		<div class="my-16">
			{% svg '64/engineering' %}
		</div>
		<div class="my-16">
			{% svg '64/finance' %}
		</div>
		<div class="my-16">
			{% svg '64/flask' %}
		</div>
		<div class="my-16">
			{% svg '64/heart' %}
		</div>
		<div class="my-16">
			{% svg '64/industry' %}
		</div>
		<div class="my-16">
			{% svg '64/investment' %}
		</div>
		<div class="my-16">
			{% svg '64/itech' %}
		</div>
		<div class="my-16">
			{% svg '64/location' %}
		</div>
		<div class="my-16">
			{% svg '64/marketing' %}
		</div>
		<div class="my-16">
			{% svg '64/mining' %}
		</div>
		<div class="my-16">
			{% svg '64/nature' %}
		</div>
		<div class="my-16">
			{% svg '64/other' %}
		</div>
		<div class="my-16">
			{% svg '64/personal' %}
		</div>
		<div class="my-16">
			{% svg '64/price' %}
		</div>
		<div class="my-16">
			{% svg '64/production' %}
		</div>
		<div class="my-16">
			{% svg '64/quality' %}
		</div>
		<div class="my-16">
			{% svg '64/quote' %}
		</div>
		<div class="my-16">
			{% svg '64/recipe' %}
		</div>
		<div class="my-16">
			{% svg '64/repair' %}
		</div>
		<div class="my-16">
			{% svg '64/reward' %}
		</div>
		<div class="my-16">
			{% svg '64/safety' %}
		</div>
		<div class="my-16">
			{% svg '64/sales' %}
		</div>
		<div class="my-16">
			{% svg '64/sea' %}
		</div>
		<div class="my-16">
			{% svg '64/security' %}
		</div>
		<div class="my-16">
			{% svg '64/sertificate' %}
		</div>
		<div class="my-16">
			{% svg '64/setting' %}
		</div>
		<div class="my-16">
			{% svg '64/sport' %}
		</div>
		<div class="my-16">
			{% svg '64/star' %}
		</div>
		<div class="my-16">
			{% svg '64/start' %}
		</div>
		<div class="my-16">
			{% svg '64/stones' %}
		</div>
		<div class="my-16">
			{% svg '64/support' %}
		</div>
		<div class="my-16">
			{% svg '64/technology' %}
		</div>
		<div class="my-16">
			{% svg '64/time' %}
		</div>
		<div class="my-16">
			{% svg '64/transport' %}
		</div>
		<div class="my-16">
			{% svg '64/welding' %}
		</div>
	</div>

{% endblock %}
