{% extends 'layouts::_page.twig' %}

{% set title = "Модальные окна" %}

{% block content %}

	<div class="wrap">
		{% for modal in modals %}
			<div class="my-16">
				<a href="#{{ modal.id }}" data-modal data-effect="mfp-move-from-right"{% if modal.attr %}{{ modal.attr }}{% endif %}>{{ modal.heading }}</a>
			</div>
		{% endfor %}
	</div>

{% endblock %}
