{% extends 'layouts::_page.twig' %}

{% set title = "Молекулы" %}

{% block content %}

	<div class="wrap-l-1 py-24 bg-white">
		{% view '^breadcrumb' with {
			breadcrumb: breadcrumb
		} %}
	</div>
	<div class="wrap-l-1 py-24 bg-dark">
		{% view '^breadcrumb' with {
			breadcrumb: breadcrumb
		} %}
	</div>

	<div class="wrap-l-1 my-64">
		{% view '^button-major' %}
	</div>

	<div class="wrap-l-1 my-64">
		{% view '&filter-layout' %}
	</div>

	<div class="wrap-l-1 my-64">
		{% view '^factor' %}

		{% view '^factor' with {
			factor: {
				color: "primary",
				suffix: "%",
				heading: "18,5",
				text: "сотрудников в 2019 г. в программах повышения квалификации"
			}
		} %}
	</div>

	<!--<editor-fold desc="inputs">-->
	<div class="wrap-l-1 wrap-r-1 py-64 bg-light">
		{% for field in inputs_white %}
			<div class="my-16">
				{% view '^field' %}
			</div>
		{% endfor %}
	</div>
	<div class="wrap-l-1 wrap-r-1 py-64 bg-white">
		{% for field in inputs_light %}
			<div class="my-16">
				{% view '^field' %}
			</div>
		{% endfor %}
	</div>
	<!--</editor-fold>-->

	<!--<editor-fold desc="checkboxes">-->
	<form class="wrap-l-1 wrap-r-1 py-64 bg-light">
		{% for field in checkboxes_white %}
			<div class="my-16">
				{% view '^field' %}
			</div>
		{% endfor %}
		{% for field in radiobuttons_white %}
			<div class="my-16">
				{% view '^field' %}
			</div>
		{% endfor %}
	</form>
	<form class="wrap-l-1 wrap-r-1 py-64 bg-white">
		{% for field in checkboxes_light %}
			<div class="my-16">
				{% view '^field' %}
			</div>
		{% endfor %}
		{% for field in radiobuttons_light %}
			<div class="my-16">
				{% view '^field' %}
			</div>
		{% endfor %}
	</form>
	<!--</editor-fold>-->

	<!--<editor-fold desc="validation">-->
	<form class="wrap-l-1 wrap-r-1 py-64 js-validate" style="max-width: 50rem">
		{% for field in demo_fields %}
			<div class="my-40">
				{% view '^field' %}
			</div>
		{% endfor %}
		{% view '@button' with {
			button: {
				type: "submit",
				text: "Отправить"
			}
		} %}
	</form>
	<!--</editor-fold>-->

	<div class="wrap my-64">
		{% view '^accordion' %}
	</div>

	<div class="wrap-l-2 wrap-r-1 my-64">
		{% for diagram in diagram_examples %}
			{% view '^diagram-bar' with {
				diagram_bar: diagram
			} %}
		{% endfor %}
	</div>

	<div class="wrap my-64">
		{% view '^feature' %}
	</div>

	<div class="wrap my-64">
		{% view '^feature-ol' %}
	</div>

	<div class="wrap my-64">
		{% view '^card-direction' %}
	</div>

	<div class="wrap my-64">
		{% view '^card-profession' %}
	</div>

	<div class="wrap my-64">
		{% view '^card-publication' %}
	</div>

	<div class="wrap my-64">
		{% view '^card-story' %}
	</div>

	<div class="wrap my-64">
		{% view '^search-form' with {
			form: {
				input: {
					placeholder: "Поиск"
				}
			}
		}%}
	</div>

	<div class="wrap my-64">
		{% view '^search-result-item' %}
	</div>

	<div class="wrap my-64">
		{% view '^card-feature' %}
	</div>

{% endblock %}
