{% extends 'layouts::_page.twig' %}

{% set title = "Search" %}

{% block content %}
	{% view '&hero-search' with {
		hero: hero
	} %}
	{% view	'&search-results-layout' with {
		content: content
	}%}
{% endblock %}
