{% extends 'layouts::_page.twig' %}

{% set title = "Атомы" %}

{% block content %}

	<div class="wrap-l-1">
		<div class="user-text">
			<h1>Заголовок H1</h1>
			<h2>Заголовок H2</h2>
			<h3>Заголовок H3</h3>
			<h4>Заголовок H4</h4>
			<h4>Заголовок H5</h4>

			<p>
				Каждый сотрудник компании «ЕВРОЦЕМЕНТ груп» может принять участие в программе кадрового резерва, целью
				которой является развитие эффективной системы подготовки профессионалов для первоочередного назначения
				на резервируемые вакантные должности внутри холдинга.
			</p>
			<p>
				Каждый сотрудник компании «ЕВРОЦЕМЕНТ груп» может принять участие в программе кадрового резерва, целью
				<a href="#">ссылка в тексте</a>,
				которой является развитие эффективной системы подготовки профессионалов для первоочередного назначения
				<a href="#">+7(987)654-32-10</a>,
				на резервируемые вакантные должности внутри холдинга
				<a href="#">google.com</a>.
			</p>

			<h4>Преимущества:</h4>

			<ul>
				<li>
					Высшее образование (Юриспруденция/Управление персоналом/Экономика труда);
				</li>
				<li>
					Опыт работы от 3-х лет;
				</li>
				<li>
					Уверенные знания трудового законодательства РФ и правил ведения кадрового делопроизводства;
				</li>
				<li>
					Уверенное знание правил систематизации документов и формирования личных дел;
				</li>
				<li>
					Опыт работы в системе ПАРУС будет являться преимуществом;
				</li>
				<li>
					Умение располагать к себе людей, уравновешенность и коммуникабельность.
				</li>
			</ul>

			<p>
				Дизайнеры устраивали ликбезы про важность вертикального ритма,
				о правилах внутреннего и внешнего, правилах размещения базовых элементов на странице.
			</p>

			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, labore?
			</p>

			<ol>
				<li>
					Высшее образование (Юриспруденция/Управление персоналом/Экономика труда);
				</li>
				<li>
					Опыт работы от 3-х лет;
				</li>
				<li>
					Уверенные знания трудового законодательства РФ и правил ведения кадрового делопроизводства;
				</li>
				<li>
					Уверенное знание правил систематизации документов и формирования личных дел;
				</li>
				<li>
					Опыт работы в системе ПАРУС будет являться преимуществом;
				</li>
				<li>
					Умение располагать к себе людей, уравновешенность и коммуникабельность.
				</li>
			</ol>

			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, labore?
			</p>

			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur delectus
				dignissimos exercitationem expedita libero magnam natus quas quisquam quos ullam.
			</p>

		</div>
	</div>


{% endblock %}
