.select2-dropdown {
	border: 0;
	border-radius: 0;
	box-sizing: border-box;
	display: block;
	position: absolute;
	left: -100000px;
	width: 100%;
	z-index: 1051;
}

.select2-results {
	display: block;
}

.select2-results__options {
	list-style: none;
	margin: 0;
	padding: 0;
}

.select2-results__option {
	user-select: none;
	-webkit-user-select: none;

	&[aria-selected] {
		cursor: pointer;
	}

	.select2-dropdown--default & {
		padding: rem(24) rem(40);
	}

	.select2-dropdown--small & {
		padding: rem(12) rem(24);
	}
}

.select2-container--open .select2-dropdown {
	left: 0;
}

.select2-container--open .select2-dropdown--above {
	margin-bottom: rem(8);
	box-shadow: 0 -4px 32px rgba(36, 44, 50, 0.1);
	//border-bottom: none;
	//border-bottom-left-radius: 0;
	//border-bottom-right-radius: 0;
}

.select2-container--open .select2-dropdown--below {
	margin-top: rem(8);
	box-shadow: 0 4px 32px rgba(36, 44, 50, 0.1);
	//border-top: none;
	//border-top-left-radius: 0;
	//border-top-right-radius: 0;
}

.select2-search--dropdown {
	display: block;
	padding: 0;

	.select2-search__field {
		width: 100%;
		box-sizing: border-box;

		&:focus {
			outline: none;
		}

		&::-webkit-search-cancel-button {
			-webkit-appearance: none;
		}

		.select2-dropdown--default & {
			padding: rem(22) rem(38);
		}

		.select2-dropdown--small & {
			padding: rem(12) rem(22);
		}
	}

	&.select2-search--hide {
		display: none;
	}
}
