.select2-container {
	box-sizing: border-box;

	display: inline-block;
	margin: 0;
	position: relative;
	vertical-align: middle;
	height: 100%;

	@include text-default(false);

	@import "single";
	@import "multiple";

	&.select-disabled {
		pointer-events: none;

		.select2-selection__arrow {
			opacity: 0;
		}
	}

	&--disabled {
		cursor: not-allowed;

		.select2-selection {
			pointer-events: none;
		}
	}

	.select2-results {
		> .select2-results__options {
			position: relative;
			max-height: rem(288);
			overflow-y: auto;
		}

		.ps__rail-y,
		.ps__thumb-y {
			&::before {
				top: rem(8);
				bottom: rem(8);
			}
		}
	}
}

@import "dropdown";

.select2-close-mask {
	border: 0;
	margin: 0;
	padding: 0;
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	min-height: 100%;
	min-width: 100%;
	height: auto;
	width: auto;
	opacity: 0;
	z-index: 99;

	// styles required for IE to work

	background-color: #fff;
	filter: alpha(opacity=0);
}

.select2-hidden-accessible {
	border: 0 !important;
	clip: rect(0 0 0 0) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

@import "theme/white/layout";
@import "theme/light/layout";

.select2-results {
	&__btn {
		background-color: transparent;
		border: none;
		border-radius: 0;
		color: currentColor;
		padding: rem(16) 0;
		@include defaultTransition(color);

		&:hover {
			color: $color-primary;
		}
	}

	&__actions {
		display: flex;
		padding-left: rem(40);
	}
}
