.unit-share {
	display: flex;
	align-items: center;

	&__heading {
		position: relative;
		display: flex;
		align-items: center;

		&::after {
			content: '';
			display: block;
			height: 0;
			width: rem(56);
			border: 1px solid $color-dim-gray;
			margin-left: rem(16);
			margin-right: rem(8);
		}
	}

	&__list {
	}
}

.ya-share2 {
	.ya-share2__list_direction_horizontal > .ya-share2__item {
		&:not(:last-child) {
			margin-right: rem(32);
		}
	}

	&__badge {
		background-color: transparent !important;
	}

	&__icon {
		transition: background-image $timing $easing;
	}

	&__item {
		&:hover {
			opacity: 1;
		}

		&.ya-share2__item_service_facebook {
			.ya-share2__icon {
				background-image: $i-fb-dark;
			}

			&:hover {
				.ya-share2__icon {
					background-image: $i-fb-primary;
				}
			}
		}

		&.ya-share2__item_service_vkontakte {
			.ya-share2__icon {
				background-image: $i-vk-dark;
			}

			&:hover {
				.ya-share2__icon {
					background-image: $i-vk-primary;
				}
			}
		}

		&.ya-share2__item_service_odnoklassniki {
			.ya-share2__icon {
				background-image: $i-ok-dark;
			}

			&:hover {
				.ya-share2__icon {
					background-image: $i-ok-primary;
				}
			}
		}
	}
}
