.quote-block {
	position: relative;

	&__slider {
		overflow: hidden;
	}

	&__container {
		display: flex;

		@include media-breakpoint-up(lg) {
			align-items: flex-start;
		}

		@include media-breakpoint-down(md) {
			flex-direction: column-reverse;
		}
	}

	&__title {
		margin-bottom: rem(40);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(64);
			display: block;
		}
	}

	&__title-main {
		display: none;
		@include media-breakpoint-up(lg) {
			display: block;
			margin-bottom: rem(48);
		}
	}

	&__line {
		position: relative;
		margin-left: rem(120);

		@include media-breakpoint-down(md) {
			margin-left: rem(100);
		}

		@include media-breakpoint-down(sm) {
			margin-left: rem(88);
		}

		&:before {
			content: '';
			position: absolute;
			bottom: rem(10);
			width: 100%;
			height: 2px;
			background-color: $color-orange;

			clip-path: $clip-path-hide;
			transition-property: clip-path;
			//transition-timing-function: $easing;
			transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
			transition-duration: 0s;

			.in-viewport & {
				transition-duration: 2s;
				clip-path: $clip-path-show;
			}

			.animate-disabled & {
				clip-path: none;
			}
		}
	}

	&__content {
		width: 100%;
		max-width: rem(660);
		margin-right: rem(180);

		@include media-breakpoint-down(md) {
			max-width: 100%;
			margin-right: rem(32);
		}

		@include media-breakpoint-down(sm) {
			margin-right: 0;
		}
	}

	&__inner-content {
		padding-left: rem(120);
		padding-top: rem(40);

		@include media-breakpoint-down(md) {
			padding-left: rem(100);
			padding-top: rem(56);
		}

		@include media-breakpoint-down(sm) {
			padding-top: rem(24);
			padding-left: 0;
		}
		transition: opacity .5s, transform 10s;
		transition-delay: 0s;

		@at-root .in-viewport & {
			transition-delay: .3s;
			transition-duration: 2s;
		}
	}

	&__text-wrap {
		overflow: hidden;
	}

	&__text {
		@include text-quot();

		@at-root .wrap-l-1 &:not(&--more) {
		@include line-clamp(20, 1.6, 3);
			@include media-breakpoint-down(sm) {
				@include line-clamp(16, 1.5, 4);
			}
		}

		&.disable {
			display: none;
		}
	}

	&__link {
		position: relative;
		display: inline-block;
		color: $color-orange;
		margin-top: rem(24);

		.in-viewport & {
			transition-duration: 1s;
			transition-delay: 1s;
		}

		&:hover {
			text-decoration: none;

			&:after {
				opacity: 1;
			}
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 1px;
			background-color: $color-orange;
			opacity: 0.3;
			@include defaultTransition(opacity);
		}

	}

	&__head {
		transition: opacity .5s, transform 10s;
		transition-delay: 0s;

		@at-root .in-viewport & {
			transition-delay: .3s;
			transition-duration: 2s;
		}
	}

	&-bottom {
		margin-top: rem(72);

		@include media-breakpoint-down(sm) {
			margin-top: rem(40);
		}

		&__text {
			.in-viewport & {
				transition-duration: 2s;
				transition-delay: 1s;
			}
		}

		&__desc {
			color: $color-gray;
			.in-viewport & {
				transition-duration: 2.5s;
				transition-delay: 1s;
			}

			@include media-breakpoint-down(sm) {
				font-size: rem(12);
			}
		}

		&__role {
			margin-top: 4px;
			color: $color-gray;
			.in-viewport & {
				transition-duration: 2.5s;
				transition-delay: 1s;
			}

			@include media-breakpoint-down(sm) {
				font-size: rem(12);
			}
		}
	}

	&__img {
		width: rem(240);
		margin-top: rem(16);

		@include animate-image();

		.image {
			width: 100%;
		}

		@include media-breakpoint-down(md) {
			margin-top: 0;
			margin-bottom: rem(48);
			margin-left: rem(100);
		}

		@include media-breakpoint-down(sm) {
			width: rem(150);
			margin-bottom: rem(24);
			margin-left: 0;
		}
	}

	&__controls {
		position: absolute;
		left: rem(840);
		bottom: 0;
		z-index: 1;

		@include media-breakpoint-down(md) {
			left: auto;
			right: 0;
		}

		@include media-breakpoint-down(sm) {
			left: 0;
		}
	}

	&[data-slider-wrap] {
		@include media-breakpoint-down(sm) {
			padding-bottom: rem(96);
		}
	}
}
