.block-text-default {
	width: 100%;

	&__head {
		@include h2;

		@include media-breakpoint-up(lg) {
			max-width: rem(650);
		}
	}

	&__description {
		margin-top: rem(32);
		@include media-breakpoint-down(md) {
			margin-top: rem(24);
		}
	}

	&__content {
		margin-top: rem(32);

		@include media-breakpoint-up(md) {
			margin-top: rem(56);
		}
		@include media-breakpoint-up(lg) {
			column-count: 2;
			column-gap: rem(120);
			break-inside: avoid;
			padding-left: $col-1-of-24;
			margin-top: rem(64);
		}

		&.user-text {
			& > * {
				display: inline-block;
				-webkit-column-break-inside: avoid;
				page-break-inside: avoid;
				break-inside: avoid;
				margin-top: 0;
				margin-bottom: rem(24);
			}
		}
	}
}
