<div class="feature-list-ol-wrapper{% if list.background_color %} bg-{{ list.background_color }}{% else %} bg-transparent{% endif %}" data-viewport-trigger>
	{% if list.heading %}
		<div class="feature-list-ol-head" data-animate="clip">{{ list.heading }}</div>
	{% endif %}
	<ul class="feature-list-ol feature-list-ol--layout-{{ list.layout ?: '1' }}">
		{% for item in list.items %}
			<li class="feature-list-ol__item" data-animate="fade-in-up" data-animate-delay="{{ loop.index }}" {{ item.attr }}>
				{% view	'^feature-ol' with {
					feature: item
				}%}
			</li>
		{% endfor %}
	</ul>
</div>
