<section class="hero-main bg-dark{{ hero.overlay? ' has-overlay' : '' }}" data-main-slider-wrap>
	{% view '^hero-top-bar' %}
	<div class="hero-main__slider swiper-container" data-main-slider>
		<div class="swiper-wrapper">
			{% if hero.heading %}
				<h1 class="visually-hidden">{{ hero.heading }}</h1>
			{% endif %}
			{% for slide in hero.slider %}
				<div class="hero-main__slide swiper-slide" {{ slide.attr }}>
					{% if slide.image %}
						<div class="hero-main__slide-image">
							{% view '@image-adaptive' with {
								image_adaptive: slide.image
							} %}
						</div>
					{% endif %}
					<div class="hero-main__slide-inner wrap wrap-l-1 wrap-r-1">
						<div class="hero-main__slide-left">
							<h2 class="hero-main__slide-heading h1">{{ slide.heading }}</h2>
							<div class="hero-main__slide-actions">
								{% for action in slide.actions %}
									{% view '@button' with {
										button: action|merge({
											"theme": "border-white",
											"hover": "primary"
										})
									} %}
								{% endfor %}
							</div>
						</div>
						{% if slide.factor_list %}
							<div class="hero-main__slide-right">
								{% for factor in slide.factor_list %}
									{% view	'^factor' with {
										factor: factor
									}%}
								{% endfor %}
							</div>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
		{% if hero.slider|length > 1 %}
			<div class="hero-main__slider-nav">
				<div class="hero-main__slider-pagination wrap wrap-l-1 wrap-r-1"></div>
			</div>
		{% endif %}
	</div>
	{% if hero.btn_down_scroll %}
		{% view '@link-action' with {
			link: hero.btn_down_scroll|merge({
					"icon": {
						"name": "arrows/chevron-down"
					},
					"class": "scroll-down-btn",
					"attr": "data-scroll-down-btn"
			})
		}%}
	{% endif %}
	{% view '&search-bar' %}
	{% if hero.button_group %}
		{% view '&button-major-group' with {
			button_group: hero.button_group
		} %}
	{% endif %}
</section>
