.user-text a,
.text-link-disappear,
.text-link-appear {
	color: inherit;

	&:focus {
		outline: none;
	}
}

.user-text a,
.text-link-disappear {
	@include line-animate-out($color-gray);
}

.text-link-appear {
	@include line-animate-in($color-gray);
}

.text-link-appear,
.text-link-disappear {
	.bg-dark &,
	.bg-primary & {
		background-image: linear-gradient(rgba($color-white, 0.4), rgba($color-white, 0.4));
	}

	&.color-primary,
	.color-primary & {
		background-image: linear-gradient(rgba($color-primary, 0.3), rgba($color-primary, 0.3));
	}
}
