// Через вопрос (?) помечены данные взятые по логике (не из макетов).
.user-text {
	@include text-default;

  h1, .h1 {
    @include h1;
		margin-top: rem(128);
		margin-bottom: rem(96);
  }

  h2, .h2 {
    @include h2;
		margin-top: rem(112);
		margin-bottom: rem(64);

		@include media-breakpoint-only(md) {
			margin-top: rem(96); // ?
			margin-bottom: rem(56);
		}
		@include media-breakpoint-only(sm) {
			margin-top: rem(64); // ?
			margin-bottom: rem(40);
		}
  }

  h3, .h3 {
    @include h3;
		margin-top: rem(96);
		margin-bottom: rem(48);

		@include media-breakpoint-only(sm) {
			margin-top: rem(64); // ?
			margin-bottom: rem(40); // ?
		}
  }

	h4, .h4 {
		@include h4;
		margin-top: rem(72);
		margin-bottom: rem(40);

		@include media-breakpoint-only(sm) {
			margin-top: rem(56); // ?
			margin-bottom: rem(32); // ?
		}
	}

	h5, .h5 {
		@include h5;
		margin-top: rem(64);
		margin-bottom: rem(32);

		@include media-breakpoint-only(sm) {
			margin-top: rem(40); // ?
			margin-bottom: rem(24); // ?
		}
	}

  p {
		margin-top: 1.5em;
		margin-bottom: 1.5em;
  }

	ul, ol {
		margin-top: rem(64);
		margin-bottom: rem(64);

		@include media-breakpoint-only(md) {
			margin-top: rem(48);
			margin-bottom: rem(48);
		}

		@include media-breakpoint-only(sm) {
			margin-top: rem(32);
			margin-bottom: rem(32);
		}
	}

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}
