<form class="bg-white{% if form.class %} {{ form.class }}{% endif %}" action="{{ form.action }}"
	  method="{{ form.method }}"
	{% if form.name %} name="{{ form.name }}"{% endif %} {% if form.id %} id="{{ form.id }}"{% endif %} data-parsley-validate {{ form.attrs }}>
	{{ form.header }}
	{% if form.fields %}
		<div class="form__fields">
			{% for field in form.fields %}
				{% view '^field' with {
					field: field|merge({
						theme: "light"

					})
				} %}
			{% endfor %}
		</div>
	{% endif %}
	{% if form.fields_group %}
		<div class="form__group-fields">
			<div class="form__group-fields-left">
				{% for field in form.fields_group %}
					{% if not field.textarea %}
						{% view '^field' with {
							field: field|merge({
								theme: "light"
							})
						} %}
					{% endif %}
				{% endfor %}
			</div>
			<div class="form__group-fields-right">
				{% for field in form.fields_group %}
					{% if field.textarea %}
						{% view '^field' with {
							field: field|merge({
								theme: "light"
							})
						} %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
	{% endif %}
	{% if form.bottom %}
		<div class="form__bottom">
			{% if form.bottom.fields %}
				<div class="form__bottom-fields">
					{% for field in form.bottom.fields %}
						{% view '^field' with {
							field: field|merge({
								theme: "light"
							})
						} %}
					{% endfor %}
				</div>
			{% endif %}
			{% if form.bottom.buttons %}
				<div class="form__bottom-buttons">
					{% for button in form.bottom.buttons %}
						{% view '@button' with {
							button: button|merge({
								theme: "border-dark",
								hover: "light"
							})
						} %}
					{% endfor %}
				</div>
			{% endif %}
		</div>
	{% endif %}
</form>
