.form {
	&__fields {
		display: flex;
		flex-wrap: wrap;

		@include media-breakpoint-up(lg) {
			margin-top: rem(-20);
			margin-bottom: rem(-20);
		}

		.field {
			width: 100%;

			&:not(:last-child) {
				@include media-breakpoint-only(sm) {
					margin-bottom: rem(16);
				}
				@include media-breakpoint-only(md) {
					margin-bottom: rem(24);
				}
			}
			@include media-breakpoint-up(lg) {
				padding: rem(20) 0;
				width: $col-6-of-24;

				&:nth-child(odd) {
					margin-right: $col-1-of-24;
				}
			}
		}

		input[type='tel'] {
			@include media-breakpoint-only(md) {
				max-width: rem(350);
			}
		}
	}

	&__group-fields {
		&:not(:first-child) {
			margin-top: rem(16);
			@include media-breakpoint-up(md) {
				margin-top: rem(24);
			}

			@include media-breakpoint-up(lg) {
				margin-top: rem(40);
			}
		}
		@include media-breakpoint-up(lg) {
			display: flex;
		}

		&-left {
			@include media-breakpoint-only(sm) {
				margin-bottom: rem(16);
			}
			@include media-breakpoint-only(md) {
				margin-bottom: rem(24);
				.field.field--tel {
						width: 60%;
				}
			}
			.field {
				width: 100%;

				&:not(:last-child) {
					@include media-breakpoint-only(sm) {
						margin-bottom: rem(16);
					}

					@include media-breakpoint-only(md) {
						margin-bottom: rem(24);
					}
				}
			}
			@include media-breakpoint-up(lg) {
				width: $col-6-of-24;
				margin-right: $col-1-of-24;
				flex-shrink: 0;

				.field {
					&:not(:last-child) {
						margin-bottom: rem(40);
					}
				}
			}

			input[type='tel'] {
				@include media-breakpoint-only(md) {
					max-width: rem(350);
				}
			}
		}

		&-right {

			@include media-breakpoint-up(lg) {
				flex-grow: 1;
				align-self: stretch;
				display: flex;
				flex-direction: column;

				.field {
					flex-grow: 1;

					.control,
					.input-shell,
					textarea {
						height: 100%;
					}
				}
			}
		}
	}

	&__bottom {
		margin-top: rem(16);
		@include media-breakpoint-up(md) {
			display: flex;
			margin-top: rem(24);
		}

		@include media-breakpoint-up(lg) {
			margin-top: rem(56);
		}

		&-fields {

			@include media-breakpoint-up(md) {
				width: $col-8-of-24;
				margin-right: $col-3-of-24;
				flex-shrink: 0;
			}
			@include media-breakpoint-up(lg) {
				width: $col-6-of-24;
				margin-right: $col-1-of-24;

				.field {
					&:not(:last-child) {
						margin-bottom: rem(40);
					}
				}
			}

			.field {
				@include media-breakpoint-only(sm) {
					.checkbox__text {
						width: rem(260);
					}
				}
			}
		}

		&-buttons {
			flex-grow: 1;
			@include media-breakpoint-only(sm) {
				margin-top: rem(56);
			}

			@include media-breakpoint-up(md) {
				display: flex;
				align-items: flex-start;
				justify-content: flex-end;
			}

			.btn {
				&:not(:last-child) {
					margin-bottom: rem(40);
				}
			}
		}
	}
}
