<label class="checkbox checkbox--{{ field.theme ?: 'white' }}{% if field.class %} {{ field.class }}{% endif %}">
	<input type="{% if field.checkbox %}checkbox{% else %}radio{% endif %}"
		   class="checkbox__input"
		   name="{{ field.name }}"
		   {% if field.id %}id="{{ field.id }}"{% endif %}
		{% if field.value %}value="{{ field.value }}"{% elseif field.text %} value="{{ field.text }}"{% endif %}
		{% if field.required %} required data-pristine-required-message="{{ field.error.required?: messages.error.required }}"{% endif %}
		{% if field.disabled %} disabled{% endif %}
		{% if field.checked %} checked{% endif %}
		{% if field.attr %}{{ field.attr }}{% endif %}>
	<span class="checkbox__box">
		{% if field.checkbox %}
			{% svg '24/check' %}
		{% endif %}
    </span>
	{% if field.text %}
		<span class="checkbox__text{% if field.no_sign %} no-sign{% endif %}">{{ field.text }}{% if field.sup %}&nbsp;<sup>{{ field.sup }}</sup>{% endif %}</span>
	{% endif %}
</label>
