.checkbox {
	$b: #{&};

	position: relative;
	display: inline-block;
	min-height: rem(24);
	min-width: rem(24);
	cursor: pointer;

	&--white {
		#{$b}__box {
			background-color: $color-white;
			color: $color-white;
		}
	}

	&--light {
		#{$b}__box {
			background-color: $color-light;
			color: $color-light;
		}
	}

	&__box {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		height: rem(24);
		width: rem(24);
		transition: background-color $easing $timing;

		svg {
			display: block;
			width: inherit;
			height: inherit;
			color: $color-white;
			opacity: 0;
			@include defaultTransition(opacity);
		}
	}

	&__text {
		display: block;
		padding-left: rem(40);
		@include text-default;
		@include defaultTransition(color);

		@include media-breakpoint-only(sm) {
			padding-top: rem(4);
			padding-left: rem(32);
		}

		sup {
			font-size: 65%;
			color: $color-dim-gray;
		}
	}

	&__input {
		@include visually-hidden;

		&[type="checkbox"] {
			~ #{$b}__box {
			}
		}

		&[type="radio"] {
			~ #{$b}__box {
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;

				&::before {
					content: '';
					display: block;
					border-radius: inherit;
					width: 0;
					height: 0;
					opacity: 0;
					@include defaultTransition(width, height, opacity);
					color: inherit;
					background-color: currentColor;
				}
			}

			&:checked {
				~ #{$b}__box {
					&::before {
						width: 50%;
						height: 50%;
						opacity: 1;
					}
				}
			}
		}

		&:focus:not(.blur) {
			&[type="checkbox"]:checked {
				~ #{$b}__box {
					background-color: $color-primary-middle;
				}
			}

			~ #{$b}__box {
				background-color: $color-primary;
			}
		}

		&:checked {
			~ #{$b}__box {
				background-color: $color-primary;

				svg {
					opacity: 1;
				}
			}
		}

		&:disabled {
			~ #{$b}__box,
			~ #{$b}__text {
				opacity: 0.5;
				cursor: not-allowed;
			}
		}
	}

	&:hover {
		#{$b}__input {
			&:not(:disabled) {
				~ #{$b}__box {
					background-color: $color-primary;
				}
				~ #{$b}__text {
					color: $color-primary;
				}
			}

			&[type="checkbox"]:checked:not(:disabled) {
				~ #{$b}__box {
					background-color: $color-primary-middle;
				}
				~ #{$b}__text {
					color: $color-primary-middle;
				}
			}

		}
	}
}
