.video {
	position: relative;
	height: rem(600);
	@include media-breakpoint-down(md) {
		height: rem(300);
	}
	@include media-breakpoint-down(sm) {
		height: rem(250);
	}
	&__wrap {
		position: relative;
		height: 100%;

		.plyr {
			height: 100%;
		}
	}

	&__frame {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}


	& .plyr__video-wrapper {
		height: 100%;
		margin: 0;
	}
}
