.hamburger {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	color: currentColor;
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
	transition: color $timing $easing;
	outline: none;

	&:hover {

		@media (hover: hover) and (pointer: fine) {
			span:nth-child(3) {
				transform: scaleX(0.5);
			}

			.hamburger__text {
				color: $color-primary;
			}

			.hamburger__icon {
				color: $color-primary;
			}
		}
	}

	&__icon {
		display: flex;
		flex-direction: column;
		width: rem(24);
		height: rem(14);
		justify-content: center;
		align-items: center;
		margin-left: 12px;

		span {
			width: rem(20);
			height: 2px;
			background-color: currentColor;
			transition: color $timing $easing, transform $timing $easing, opacity $timing $easing, top $timing $easing;

			&:nth-child(3) {
				transform-origin: left;
			}

			&:not(:last-child) {
				margin-bottom: 4px;
			}

			@for $i from 3 through 1 {
				&:nth-child(#{$i}) {
					margin-left: calc(-4px * #{$i});
				}
			}
		}

		@at-root .menu--open & {
			margin-left: 0;
			& > span:nth-child(1) {
				transform: translateY(4px) rotate(45deg);
				margin-left: 0;
			}

			& > span:nth-child(2) {
				opacity: 0;
			}

			& > span:nth-child(3) {
				transform: translateY(-8px) rotate(-45deg);
				transform-origin: center;
				margin-left: 0;
			}
		}
	}

	&__text {
		display: none;
		margin-top: rem(13);
		@include text-small;
		@include defaultTransition(color);
		@include media-breakpoint-up(md) {
			display: inline-block;
		}
	}
}
