<button class="hamburger">
    <span class="hamburger__icon">
        <span></span>
        <span></span>
        <span></span>
    </span>
	<span class="hamburger__text" data-close-text="{{ hamburger.close_text }}">{{ hamburger.text }}</span>
</button>
