<div class="menu-content">
	<div class="menu-content__grid">
		<div class="menu-content__header" data-delay>
			<div class="menu-content__logo">
				{% if menu.content.logo.href is not empty %}
					<a class="menu-content__logo-wrapper" href="{{ menu.content.logo.href }}">
						<img src="{{ menu.content.logo.src?:'img/logos/logo-color.svg' }}"
							 class="menu-content__logo-img" alt="{{ menu.content.logo.alt }}">
					</a>
				{% else %}
					<span class="menu-content__logo-wrapper">
                        <img src="{{ menu.content.logo.src?:'img/logos/logo-color.svg' }}"
							 class="menu-content__logo-img" alt="{{ menu.content.logo.alt }}">
                    	</span>
				{% endif %}
			</div>
			<ul class="menu-content__link-list">
				{% for item in menu.content.link_list|slice(0, 2) %}
					<li class="menu-content__link-item {{ item.main?'menu-content__link-item--main':'' }}">
						{% if item.href %}
							<a class="{{ item.main?'text-link-appear':'text-link-disappear' }}"
							   href="{{ item.href }}">{{ item.text }}</a>
						{% else %}
							<span
								class="{{ item.main?'text-link-appear':'text-link-disappear' }}">{{ item.text }}</span>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
			<div class="menu-content__search">
				<a href="{{ menu.content.search.link }}" {% if menu.content.search.attr %}{{ menu.content.search.attr }}{% endif %}>
					{% svg '24/search' %}
				</a>
			</div>
		</div>
		<div class="menu-content__main">
			<ul class="menu-content__primary-nav primary-nav level-1" data-delay>
				{% for item in menu.content.primary_nav %}
					<li class="primary-nav__item" {% if item.submenu %} data-submenu="{{ item.text }}" {% endif %}>
						{% if item.href %}
							<a href="{{ item.href }}">{{ item.text }}</a>
						{% else %}
							<span>{{ item.text }}</span>
						{% endif %}
						{% if item.submenu %}
							<button class="primary-nav__item-toggle-button">{% view '@icon' with {
									icon: {
										name: "arrows/chevron-right"
									}
								} %}</button>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
			{% for item in menu.content.primary_nav %}
				{% if item.submenu %}
					<ul class="menu-content__primary-sub-nav primary-sub-nav level-2 hidden"
						data-submenu="{{ item.text }}"
						{% if item.submenu.items|length > 7 %} data-submenu-long{% endif %} data-delay="500">
						<li class="primary-sub-nav__backward">
							<button class="primary-sub-nav__backward-button">{% view '@icon' with {
									icon: {
										name: "arrows/arrow-left"
									}
								} %}</button>
							<span class="primary-sub-nav__backward-text">{{ item.text }}</span>
						</li>
						{% if item.submenu.heading %}
							<li class="primary-sub-nav__head">
								{% if item.submenu.heading.href %}
									<a href="{{ item.submenu.heading.href }}">{{ item.submenu.heading.text }}</a>
								{% else %}
									<span>{{ item.submenu.heading.text }}</span>
								{% endif %}
							</li>
						{% endif %}
						{% for sub in item.submenu.items %}
							<li
								class="primary-sub-nav__item" {% if sub.submenu %} data-submenu="{{ sub.text }}" {% endif %}>
								{% if sub.href %}
									<a href="{{ sub.href }}">{{ sub.text }}</a>
								{% else %}
									<span>{{ sub.text }}</span>
								{% endif %}
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endfor %}
			<ul class="menu-content__secondary-nav secondary-nav hidden" data-delay="2000">
				{% if menu.content.secondary_nav.heading %}
					<li class="secondary-nav__head">
						{% if menu.content.secondary_nav.heading.href %}
							<a href="{{ menu.content.secondary_nav.heading.href }}">{{ menu.content.secondary_nav.heading.text }}</a>
						{% else %}
							<span>{{ menu.content.secondary_nav.heading.text }}</span>
						{% endif %}
					</li>
				{% endif %}
				{% for item in menu.content.secondary_nav.items %}
					<li class="secondary-nav__item">
						{% if item.href %}
							<a href="{{ item.href }}">{{ item.text }}</a>
						{% else %}
							<span>{{ item.text }}</span>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="menu-content__footer" data-delay>
			<ul class="menu-content__button-list-mob">
				{% for button in menu.bar.button_list %}
					<li class="menu-content__button">
						{% if button.href %}
							<a class="menu-content__button-link" href="{{ button.href }}"{% if button.attr %} {{ button.attr }}{% endif %}></a>
						{% endif %}
						{% if button.icon %}
							{% view '@icon' with {
								icon: button.icon
							} %}
						{% endif %}
						{% if button.text %}
							<span>{{ button.text }}</span>
						{% endif %}
						{% if button.badge %}
							<span class="menu-content__button-badge">{{ button.badge.text }}</span>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
			{% if menu.content.social %}
				<ul class="menu-content__social">
					{% for link in menu.content.social %}
						<li class="menu-content__social-item">
							<a
								href="{{ link.href }}"
								target="_blank"
								aria-label="{{ link.text }}"
							>
								{% svg link.icon %}
							</a>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
			<ul class="menu-content__service-block-mob">
				{% for item in menu.bar.service_block %}
					<li class="menu-content__service-item" {% if item.attr %}{{ item.attr }}{% endif %}>
						{% if item.href %}
							<a class="menu-content__service-item-link" href="{{ item.href }}"></a>
						{% endif %}
						{% if item.icon %}
							{% view '@icon' with {
								icon: item.icon
							} %}
						{% endif %}
						{% if item.text %}
							<span>{{ item.text }}</span>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
			<div class="menu-content__button-major-list" data-delay="4000">
				{% for button in menu.content.button_major_list %}
					<div class="button-major-shell">
						{% view '^button-major' with {
							button: button
						} %}
					</div>
				{% endfor %}
			</div>
			<div class="menu-content__main-button">
				{% if menu.bar.main_button.href %}
					<a class="menu-content__main-button-link" href="{{ menu.bar.main_button.href }}" {% if menu.bar.main_button.attr %}{{ menu.bar.main_button.attr }}{% endif %}></a>
				{% endif %}
				<div class="main-button">
					{% if menu.bar.main_button.icon %}
						{% view '@icon' with {
							icon: menu.bar.main_button.icon
						} %}
					{% endif %}
					{% if menu.bar.main_button.text %}
						<span>{{ menu.bar.main_button.text }}</span>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
