<div class="menu-bar" {{ menu.bar.attr }}>
	<div class="menu-bar__hamburger">
		{% include '@organisms/header/hamburger.twig' with {
			hamburger: menu.bar.hamburger
		} %}
	</div>
	<div class="menu-bar__main-button"
		{% if menu.bar.main_button.toggle_text %} data-toggle-text="{{ menu.bar.main_button.toggle_text }}"{% endif %}>
		{% if menu.bar.main_button.href %}
			<a class="menu-bar__main-button-link" href="{{ menu.bar.main_button.href }}"
				{% if menu.bar.main_button.attr %}{{ menu.bar.main_button.attr }}{% endif %}>{{ menu.bar.main_button.text }}</a>
		{% endif %}
		<div class="menu-bar__main-button-content">
			{% if menu.bar.main_button.icon %}
				{% view '@icon' with {
					icon: menu.bar.main_button.icon
				} %}
			{% endif %}
			{% view '@icon' with {
				icon: {
					name: "24/close",
					class: "icon--close"
				}
			} %}
			{% if menu.bar.main_button.text %}
				<span data-change-text>{{ menu.bar.main_button.text }}</span>
			{% endif %}
		</div>
	</div>
	<ul class="menu-bar__button-list">
		{% for button in menu.bar.button_list %}
			<li class="menu-bar__button" {% if button.toggle_text %} data-toggle-text="{{ button.toggle_text }}"{% endif %}>
				{% if button.href %}
					<a class="menu-bar__button-link" href="{{ button.href }}"
						{% if button.attr %}{{ button.attr }}{% endif %}>{{ button.text }}</a>
				{% endif %}
				{% if button.icon %}
					{% view '@icon' with {
						icon: button.icon
					} %}
				{% endif %}
				{% view '@icon' with {
					icon: {
						name: "24/close",
						class: "icon--close"
					}
				} %}
				{% if button.text %}
					<span data-change-text>{{ button.text }}</span>
				{% endif %}
				{% if button.badge %}
					<span class="menu-bar__button-badge">{{ button.badge.text }}</span>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
	<ul class="menu-bar__service-block">
		{% for item in menu.bar.service_block %}
			<li class="menu-bar__service-item" {% if item.attr %}{{ item.attr }}{% endif %}>
				{% if item.href %}
					<a class="menu-bar__service-item-link" href="{{ item.href }}"></a>
				{% endif %}
				{% if item.icon %}
					{% view '@icon' with {
						icon: item.icon
					} %}
				{% endif %}
				{% if item.text %}
					<span>{{ item.text }}</span>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
</div>
