<div class="hero-top-bar">
	<div class="hero-top-bar__logo">
		{% if menu.content.logo.href is not empty %}
			<a class="hero-top-bar__logo-wrapper" href="{{ menu.content.logo.href }}">
				<img src="{{ menu.content.logo.src?:'img/logos/logo-color.svg' }}"
					 class="hero-top-bar__logo-img" alt="{{ menu.content.logo.alt }}">
				<img src="{{ menu.content.logo.alter_src?:'img/logos/logo-white.svg' }}"
					 class="hero-top-bar__logo-img hero-top-bar__logo-img--white" alt="{{ menu.content.logo.alt }}">
			</a>
		{% else %}
			<span class="hero-top-bar__logo-wrapper">
                        <img src="{{ menu.content.logo.src?:'img/logos/logo-color.svg' }}"
							 class="hero-top-bar__logo-img" alt="{{ menu.content.logo.alt }}">
						<img src="{{ menu.content.logo.alter_src?:'img/logos/logo-white.svg' }}"
							 class="hero-top-bar__logo-img hero-top-bar__logo-img--white" alt="{{ menu.content.logo.alt }}">
                    	</span>
		{% endif %}
	</div>
	<ul class="hero-top-bar__link-list">
		{% for item in menu.content.link_list|slice(0, 2) %}
			<li class="hero-top-bar__link-item {{ item.main?'hero-top-bar__link-item--main':'' }}">
				{% if item.href %}
					<a class="{{ item.main?'text-link-appear':'text-link-disappear' }}"
					   href="{{ item.href }}">{{ item.text }}</a>
				{% else %}
					<span class="{{ item.main?'text-link-appear':'text-link-disappear' }}">{{ item.text }}</span>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
	<div class="hero-top-bar__search" data-search-button>
		<a href="{{ menu.content.search.link }}" {% if menu.content.search.attr %}{{ menu.content.search.attr }}{% endif %}>
			{% svg '24/search' %}
		</a>
	</div>
</div>
