<div class="block-text-factor" data-viewport-trigger>
	<div class="block-text-factor__inner" {{ block.attr }}>
		{% if block.heading %}
			<h2 class="block-text-factor__head h2" data-animate="clip">{{ block.heading }}</h2>
		{% endif %}
		{% if block.content %}
			<div class="block-text-factor__content">
				<div class="block-text-factor__content-left">
					{% if block.content.factor_list %}
						{% view '&factor-list' with {
							factor_list: block.content.factor_list
						} %}
					{% endif %}
				</div>
				<div class="block-text-factor__content-right">
					{% if block.content.text %}
						<div class="user-text"
							 data-animate="fade-in-up" data-animate-delay="2">{{ block.content.text }}</div>
					{% endif %}
				</div>
			</div>
		{% endif %}
	</div>
</div>
