.hero-contacts {
	position: relative;

	&__image {
		position: absolute;
		pointer-events: none;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;
		@include media-breakpoint-up(md) {
			left: rem($aside-width);
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		@at-root .has-overlay & {
			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: $color-black;
				opacity: .4;
				pointer-events: none;
			}
		}
	}

	&__inner {
		display: flex;
		flex-direction: column;
		padding-top: rem(128);
		min-height: 100vh;
		position: relative;
		@include media-breakpoint-up(md) {
			padding-top: rem(200);
		}
		@include media-breakpoint-up(lg) {
			padding-top: rem(160);
		}
	}

	&__breadcrumb {
		margin-bottom: rem(8);
		width: 100%;
		flex: 0 0 auto;
		padding-left: $col-1-of-12;
		@include media-breakpoint-up(md) {
			padding-left: $col-4-of-24;
		}
		@include media-breakpoint-up(lg) {
			padding-left: $col-3-of-24;
		}
	}

	&__heading {
		@include media-breakpoint-only(sm) {
			width: 100%;
			margin-bottom: rem(40);
			padding-left: $col-1-of-12;
			@include h2;
		}

		@include media-breakpoint-up(md) {
			width: calc(100vw / 24 * 12);
			min-height: rem(345);
			flex: 0 0 auto;
			padding-left: $col-4-of-24;
			@include h3;
		}
		@include media-breakpoint-up(lg) {
			width: calc(100vw / 24 * 9);
			min-height: rem(249);
			padding-left: $col-3-of-24;
			@include h1;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		flex: 1 0 auto;
		width: 100%;

		@at-root .is-ie & {
			@include media-breakpoint-up(lg) {
				height: calc(100vh - 10rem);
			}
		}

		&-top {
			flex: 0 0 auto;
			display: flex;
			@include media-breakpoint-only(sm) {
				flex-wrap: wrap;
				margin-bottom: rem(56);
			}
		}

		&-bottom {
			flex: 1 0 auto;
			display: flex;
			//height: 100%;
			@supports (height: auto) {
				height: auto;
			}

			@include media-breakpoint-down(md) {
				flex-wrap: wrap;
			}
		}
	}

	&__info-text {
		background-color: $color-white;
		align-self: stretch;
		display: flex;
		align-items: center;

		@include media-breakpoint-only(sm) {
			margin-right: $col-3-of-12;
			padding: rem(24) $col-1-of-12 rem(24) $col-1-of-12;
		}

		@include media-breakpoint-up(md) {
			flex-shrink: 0;
			width: calc(100vw / 24 * 12);
			padding: rem(24) $col-2-of-24 rem(24) $col-4-of-24;
		}

		@include media-breakpoint-up(lg) {
			width: calc(100vw / 24 * 9);
			padding: rem(24) $col-2-of-24 rem(24) $col-3-of-24;
		}
	}

	&__contact-list {
		display: flex;
		flex-direction: column;
		flex: 1 0 auto;
		margin: 0;
		padding: 0;
		list-style: none;

		@include media-breakpoint-only(sm) {
			margin-left: $col-3-of-12;
			padding: rem(40) $col-1-of-12 rem(48) $col-1-of-12;
		}

		@include media-breakpoint-up(md) {
			margin-top: rem(24);
			padding: rem(64) $col-1-of-24 rem(64) $col-2-of-24;
		}

		@include media-breakpoint-up(lg) {
			flex-direction: row;
			flex-wrap: wrap;
			margin-top: rem(64);
			padding: rem(56) $col-1-of-24 rem(56) $col-2-of-24;
		}
	}

	&__contact-item {
		@include media-breakpoint-only(sm) {
			&:not(:last-child) {
				margin-bottom: rem(32);
			}
		}
		@include media-breakpoint-only(md) {
			&:not(:last-child) {
				margin-bottom: rem(40);
			}
		}

		@include media-breakpoint-up(lg) {
			width: calc(100vw / 24 * 5);
			&:nth-child(odd) {
				margin-right: $col-2-of-24;
			}

			&:nth-child(n+3) {
				margin-top: rem(8);
			}
		}

		a, span {
			@include defaultTransition(color);
			@include h3;
			color: currentColor;
			text-decoration: none;
		}

		a:hover {
			color: $color-primary;
		}

		&-description {
			@include text-default;
		}
	}

	.button-major-group-wrapper {

		@include media-breakpoint-down(md) {
			display: none;
		}
		@include media-breakpoint-up(lg) {
			flex: 1 0 auto;
			margin-top: auto;
			align-self: flex-end;
			.button-major-shell {
				flex: 1 1 auto;
			}
		}
	}

	.button-major-shell:first-child {
		width: calc(100vw / 24 * 8);

		.button-major {
			padding-left: calc(100vw / 24 * 2);
		}
	}

	.search-bar {
		position: absolute;
		left: 0;
		top: rem(72);
		transform: translate3d(-100%, 0, 0);

		@at-root .is-loaded & {
			transition: transform $timing $easing;
		}

		@include media-breakpoint-up(md) {
			top: rem(112);
		}
	}

	.hero-top-bar--search-open ~ .search-bar {
		transform: translate3d(0, 0, 0);
	}
}
