<section class="hero-contacts bg-dark{{ hero.overlay? ' has-overlay' : '' }}" data-viewport-trigger>
	{% view '^hero-top-bar' %}
	<div class="hero-contacts__image">
		{% view '@image-adaptive' with {
			image_adaptive: hero.bg
		} %}
	</div>
	<div class="hero-contacts__inner">
		<div class="hero-contacts__breadcrumb">
			{% view '^breadcrumb' with {
				breadcrumb: hero.breadcrumb
			} %}
		</div>
		<div class="hero-contacts__content">
			<div class="hero-contacts__content-top">
				<h1 class="hero-contacts__heading">{{ hero.heading }}</h1>
				<ul class="hero-contacts__contact-list bg-white" data-animate="fade-in-up" data-animate-delay="2">
					{% if hero.contact_list %}
						{% for item in hero.contact_list %}
							<li class="hero-contacts__contact-item">
								{% if item.href %}
									<a href="{{ item.href }}">{{ item.text }}</a>
								{% else %}
									<span>{{ item.text }}</span>
								{% endif %}
								{% if item.description %}
									<div class="hero-contacts__contact-item-description">{{ item.description }}</div>
								{% endif %}
							</li>
						{% endfor %}
					{% endif %}
				</ul>
			</div>
			<div class="hero-contacts__content-bottom">
				<div class="hero-contacts__info-text bg-white" data-animate="fade-in-up">
					{% if hero.info_text %}
						<div class="user-text">{{ hero.info_text }}</div>
					{% endif %}
				</div>
				{% if hero.button_group %}
					{% view '&button-major-group' with {
						button_group: hero.button_group
					} %}
				{% endif %}
			</div>
		</div>
	</div>
	{% view '&search-bar' %}
</section>
