<nav class="breadcrumb" aria-label="breadcrumb">
	<ul class="breadcrumb__list"
		itemscope itemtype="https://schema.org/BreadcrumbList">
		{% for item in breadcrumb %}
			<li class="breadcrumb__item"{% if item.current %} aria-current="page"{% endif %}
				itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
				{% if item.href %}
					<a href="{{ item.href }}" class="breadcrumb__text breadcrumb__link"
					   itemprop="item">
						<span itemprop="name">{{ item.text }}</span>
					</a>
				{% else %}
					<span class="breadcrumb__text" itemprop="name">{{ item.text }}</span>
				{% endif %}
				<meta itemprop="position" content="{{ loop.index }}"/>
			</li>
		{% endfor %}
	</ul>
</nav>
