<div class="block-character-wrap" data-viewport-trigger>
	<div class="block-character{% if block_character.reverse %} block-character--reverse{% endif %} bg-white" {{ block_character.attr }}>
		<div class="block-character__main">
			{% if block_character.heading %}
				<h3 class="block-character__heading h3" data-animate="clip">{{ block_character.heading|raw }}</h3>
			{% endif %}
			{% if block_character.text %}
				<div class="block-character__text text-default"
					 data-animate="fade-in-up" data-animate-delay="1">{{ block_character.text|raw }}</div>
			{% endif %}
			{% if block_character.button %}
				<div class="block-character__button" data-animate="fade-in-up" data-animate-delay="2">
					{% view '@button' with {
						button: block_character.button|merge({
							theme: "border-dark",
							hover: "light"
						})
					} %}
				</div>
			{% endif %}
		</div>
		<div class="block-character__image">
			{% if block_character.image %}
				{% view '@image' with {
					image: block_character.image
				} %}
			{% endif %}
		</div>
	</div>
</div>
