.block-character-wrap {
	@include media-breakpoint-only(md) {
		padding-left: $col-4-of-24;
	}

	@include media-breakpoint-up(lg) {
		padding-left: $col-3-of-24;
	}

	+ .block-character-wrap {
		margin-top: 2px;
	}
}

.block-character {
	$b: #{&};
	display: flex;

	@include media-breakpoint-down(md) {
		flex-direction: column;
	}

	&__main {
		display: flex;
		flex-direction: column;
		justify-content: center;

		@include media-breakpoint-down(md) {
			display: block;
		}

		@include media-breakpoint-only(sm) {
			padding: rem(56) $col-1-of-12 rem(16);
		}

		@include media-breakpoint-only(md) {
			padding: rem(64) $col-2-of-24 rem(48);
		}

		@include media-breakpoint-up(lg) {
			width: 47.5%;
			padding-top: rem(96);
			padding-left: $col-2-of-24;
			padding-right: $col-1-of-24;
			padding-bottom: rem(112);
		}
	}

	&__image {
		width: 100%;

		.image {
			display: block;
			width: 100%;
			height: auto;
			object-fit: contain;
			object-position: center bottom;
			background-size: contain;
			background-position: center bottom;
		}

		@include media-breakpoint-up(lg) {
			width: 52.5%;
			align-self: flex-end;

			.image {
				margin-top: rem(-58);
			}
		}
	}

	&__heading {
		margin-bottom: rem(32);
	}

	&__button {
		margin-top: rem(40);

		@include media-breakpoint-up(md) {
			margin-top: rem(48);
		}
	}

	&--reverse {
		@include media-breakpoint-up(lg) {
			flex-direction: row-reverse;

			#{$b}__main {
				padding-left: 0;
				padding-right: $col-3-of-24;
			}
		}
	}
}
