.feature-list-ol-slider {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
	counter-reset: decimail-counter;
	$root: &;

	&-head {
		@include media-breakpoint-up(lg) {
			max-width: rem(840);
			padding-right: $col-3-of-24;
		}
	}

	&-wrapper {
		position: relative;
		min-height: rem(640);
		padding: rem(80) $col-1-of-12 rem(200);
		@include media-breakpoint-only(md) {
			min-height: rem(1024);
			padding: rem(175) rem(64) rem(225) $col-4-of-24;
		}
		@include media-breakpoint-up(lg) {
			padding: 0;
			height: auto;
			min-height: rem(800);
			padding-bottom: rem(200);
		}
	}

	.swiper-wrapper {
		@include media-breakpoint-only(md) {
			html:not(.is-ie) & {
				display: grid;
				grid-template-rows: auto auto;
				grid-auto-columns: 1fr;
				grid-auto-flow: column;
			}
			// Единственный вариант для IE оставить другой порядок элементов в строку:
			// 1 2 3
			// 4 5 6
			.is-ie & {
				flex-direction: row;
			}
		}
	}

	@include media-breakpoint-only(sm) {
		margin-top: rem(80);
	}

	@include media-breakpoint-only(md) {
		margin-top: rem(96);
	}

	@include media-breakpoint-up(lg) {
		padding-left: $col-4-of-24;
		margin-top: rem(150);
		padding-right: rem(240);
	}

	&__top {
		@include media-breakpoint-up(lg) {
			display: flex;
			align-items: center;
			padding-left: $col-3-of-24;
			padding-top: rem(144);
		}
	}

	&__nav {
		@include media-breakpoint-only(md) {
			position: absolute;
			right: rem(32);
			bottom: rem(64);
		}
		@include media-breakpoint-down(sm) {
			position: absolute;
			left: $col-1-of-12;
			bottom: rem(64);
		}
	}

	&__item {
		position: relative;
		counter-increment: decimail-counter;

		&:not(:last-child) {
			margin-bottom: rem(48);

			@include media-breakpoint-up(md) {
				margin-bottom: rem(56);
			}

			@include media-breakpoint-up(lg) {
				margin-bottom: 0;
			}
		}

		&:before {
			content: counter(decimail-counter, decimal-leading-zero);
			position: absolute;
			top: 0;
			left: 2px;
			width: rem(16);
			height: rem(16);
			color: currentColor;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			@include text-label;

			@at-root .bg-transparent & {
				color: $color-primary;
			}
		}

		.feature-ol {
			@include media-breakpoint-up(lg) {
				padding-right: $col-2-of-24;
			}
			@include media-breakpoint-only(md) {
				padding-right: $col-5-of-24;
			}
		}
	}

	&--layout-2 {
		#{$root}__item {
			@include media-breakpoint-up(lg) {
				width: 33.33%;

				&:nth-child(n+3) {
					margin-top: 0;
				}

				&:nth-child(n+4) {
					margin-top: rem(64);
				}
			}
		}
	}
}
