.gallery-slider {
	position: relative;
	$b: #{&};
	width: 100%;
	text-decoration: none !important;
	color: $color-dark;
	@include text-default;
	@include defaultTransition(transform, box-shadow);

	&__content {
		background-color: $color-white;
		min-height: rem(515);
		padding-bottom: rem(112);

		@include media-breakpoint-up(md) {
			min-height: rem(460);
			padding-bottom: rem(32);
		}

		@include media-breakpoint-up(lg) {
			padding-bottom: rem(56);
			min-height: rem(740);
		}
	}

	.gallery-slide {
		$slide: &;
		&__image {
			width: 100%;
			background-color: $color-gray;
			height: rem(305);

			@include media-breakpoint-up(lg) {
				height: rem(600);
			}

			&-mask {
				display: block;
				width: 100%;
				height: 100%;
			}

			.image {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
				background-size: cover;
				background-position: center;
			}
		}

		&__body {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: rem(32) $col-1-of-12 0;

			@include media-breakpoint-up(md) {
				padding: rem(36) $col-1-of-24 0;
			}

			@include media-breakpoint-up(lg) {
				padding: rem(56) $col-1-of-24 0;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				flex-shrink: 0;
				width: calc(100vw / 24 * 13);
			}
		}

		&__text {
			@include text-default;

			@include media-breakpoint-up(md) {
				max-width: rem(385);
			}
			@include media-breakpoint-up(lg) {
				max-width: rem(540);
			}
		}

		&__date {
			@include text-default;
			color: $color-gray;

			@include media-breakpoint-down(md) {
				margin-top: rem(16);
			}
		}
	}

	&__nav {
		position: absolute;
		left: $col-1-of-12;
		bottom: rem(32);
		z-index: 2;

		@include media-breakpoint-up(md) {
			left: auto;
			right: $col-1-of-24;
			bottom: rem(68);
		}

		@include media-breakpoint-up(lg) {
			bottom: rem(40);
			right: rem(230);
		}
	}
}
