<div class="gallery-slider" data-gallery-slider-wrap>
	<div class="gallery-slider__content swiper-container" data-gallery-slider>
		<div class="swiper-wrapper">
			{% for slide in gallery_slider.items %}
				<div class="gallery-slider__slide gallery-slide swiper-slide" data-viewport-trigger {{ slide.attr }}>
					<div class="gallery-slide__image" data-animate="clip">
						<div class="gallery-slide__image-mask">
							{% if slide.image %}
								{% view '@image' with {
									image: slide.image
								} %}
							{% endif %}
						</div>
					</div>
					<div class="gallery-slide__body">
						{% if slide.text %}
							<div class="gallery-slide__text" data-animate="clip">{{ slide.text|raw }}</div>
						{% endif %}
						{% if slide.date %}
							<div class="gallery-slide__date" data-animate="clip">{{ slide.date|raw }}</div>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
		{% if gallery_slider.items|length > 1 %}
			<div class="gallery-slider__nav">
				{% view '@nav-arrows' with {
					"nav_arrows": {
						"theme": "border-dark",
						"hover": "light"
					}
				} %}
			</div>
		{% endif %}
	</div>
</div>
