.search-bar {
	width: 100%;
	height: rem(288);

	.search-form {
		clip-path: $clip-path-hide;
		transition-property: clip-path;
		transition-timing-function: $easing;
		transition-duration: 0s;
	}

	.hero-top-bar--search-open ~ & {
		.search-form {
			transition-duration: 2s;
			clip-path: $clip-path-show;
		}
	}

	@include media-breakpoint-up(md) {
		height: rem(456);
	}

	@include media-breakpoint-up(lg) {
		height: rem(320);
	}

	&__inner {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-right: $col-1-of-12;
		padding-left: $col-1-of-12;

		@include media-breakpoint-up(md) {
			padding-left: $col-4-of-24;
		}

		@include media-breakpoint-up(lg) {
			padding-left: $col-3-of-24;
		}
	}
}
