<div class="user-content-story user-text" data-animate-user-text>
	{% if user_content_story == "dev" %}
		{% view '&dev-content' %}
	{% else %}
		{{ user_content_story.content|raw }}
	{% endif %}
</div>

{% if user_content_story.footer %}
	<div class="user-content-story-footer text-default" data-viewport-trigger>
		<hr data-animate="clip">
		{% if unit_share %}
			<div class="user-content-story-footer__share" data-animate="fade-in-up" data-animate-delay="1">
				{% view '^unit-share' with unit_share %}
			</div>
		{% endif %}
		{% if user_content_story.footer.link %}
			<div class="user-content-story-footer__link" data-animate="fade-in-up" data-animate-delay="2">
				<a href="{{ user_content_story.footer.link.href }}"
				   class="text-link-disappear">{{ user_content_story.footer.link.text }}</a>
			</div>
		{% endif %}
	</div>
{% endif %}
