<footer class="footer bg-white">
	<div class="footer__grid">
		<ul class="footer__nav">
			{% for link in footer.nav.items %}
				<li class="footer__nav-item">
					<a href="{{ link.href }}" class="footer__nav-link">{{ link.text }}</a>
				</li>
			{% endfor %}
			{% if footer.nav.sub_items %}
				<li class="footer__nav-item footer__nav-item--empty" aria-hidden="true">
					<div class="h5">empty</div>
				</li>
			{% endif %}
			{% for link in footer.nav.sub_items %}
				<li class="footer__nav-item">
					<a href="{{ link.href }}" class="footer__nav-link">{{ link.text }}</a>
				</li>
			{% endfor %}
{#			<ul class="footer__nav-sublinks">#}
{#				{% for link in footer.nav.sub_items %}#}
{#					<li class="footer_nav-subitem">#}
{#						<a href="{{ link.href }}" class="footer__nav-sublink">{{ link.text }}</a>#}
{#					</li>#}
{#				{% endfor %}#}
{#			</ul>#}
		</ul>
		<div class="footer__contacts">
			{% if footer.contacts.phone %}
				<div class="mb-16">
					<a href="{{ footer.contacts.phone.href }}" class="text-phone-link">{{ footer.contacts.phone.text }}</a>
				</div>
			{% endif %}
			{% if footer.contacts.email %}
				<a href="{{ footer.contacts.email.href }}" class="text-default text-link-disappear">{{ footer.contacts.email.text }}</a>
			{% endif %}
			{% if footer.contacts.social %}
				<ul class="mt-16 mt-md-32 mt-lg-40 footer__social">
					{% for link in footer.contacts.social %}
						<li class="footer__social-item">
							<a
								href="{{ link.href }}"
								target="_blank"
								class="footer__social-link footer__social-link--{{ link.name }}"
								aria-label="{{ link.text }}"
							>
								{% svg link.icon %}
							</a>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
		<ul class="footer__links">
			{% for link in footer.links %}
				<li class="footer__links-item">
					<a href="{{ link.href }}" class="text-small text-link-appear color-dark">{{ link.text }}</a>
				</li>
			{% endfor %}
		</ul>
		<div class="footer__cookies">
			{% if footer.cookies %}
				<div class="footer__links-item">
					<a href="{{ footer.cookies.href }}" class="text-small text-link-appear color-dark">{{ footer.cookies.text }}</a>
				</div>
			{% endif %}
		</div>
		<div class="footer__copyrights">
			<div class="text-small color-gray">{{ footer.copyright }}</div>
			<div class="footer__uplab text-default">
				<a href="https://uplab.ru" target="_blank" class="footer__uplab-link">
					<span class="footer__uplab-text">{{ footer.uplab }}</span>&nbsp;<span
						class="footer__uplab-logo">{% svg 'logos/uplab' %}</span>
				</a>
			</div>
		</div>
	</div>
</footer>
