{% if card.href %}
	<a href="{{ card.href }}" class="card-profession">
		{% include '@molecules/card-profession/card-profession-inner.twig' %}
	</a>
{% else %}
	<div class="card-profession">
		{% include '@molecules/card-profession/card-profession-inner.twig' %}
	</div>
{% endif %}
