<div class="card-profession__image">
	{% if  card.image.src %}
		{% view '@image' with {
			image: card.image
		} %}
		{% else %}
		{% view '@image-stab' %}
	{% endif %}
</div>
{% if card.heading %}
	<div class="card-profession__heading h5">{{ card.heading|raw }}</div>
{% endif %}
