.card-profession {
	width: 100%;
	display: block;
	text-decoration: none !important;
	color: $color-dark;

	&__image {
		position: relative;
		width: 100%;
		height: rem(256);
		overflow: hidden;
		background-color: $color-gray;

		.image {
			position: absolute;
			top: 0;
			right: 0;
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			background-size: cover;
			background-position: center;
			@include defaultTransition(transform);
		}
	}

	&__heading {
		margin-top: rem(24);
		padding-right: rem(24);

		@include media-breakpoint-up(md) {
			margin-top: rem(32);
		}
	}

	&:focus {
		outline: none;
	}
}

a.card-profession {
	$b: #{'.card-profession'};

	&:focus,
	&:hover {
		#{$b}__image {
			.image,
			.image-stab__icon {
				transform: scale3d(1.05, 1.05, 1.05);
			}
		}
	}
}
