/*
 * Container style
 */
.ps {
	overflow: hidden !important;
	overflow-anchor: none;
	-ms-overflow-style: none;
	touch-action: auto;
	-ms-touch-action: auto;
}

/*
 * Scrollbar rail styles
 */
.ps__rail-x,
.ps__rail-y,
.ps__thumb-x,
.ps__thumb-y {
	/* please don't change 'position' */
	position: absolute;
	background-color: transparent;

	&::before {
		// Необходимо, чтобы задать отступы от краев контейнера
		content: '';
		position: absolute;
	}
}

.ps__rail-x,
.ps__rail-y {
	display: none;

	&::before {
	}
}

.ps__rail-x {
	height: 4px;
	/* there must be 'bottom' or 'top' for ps__rail-x */
	bottom: 0;
}

.ps__rail-y {
	width: 4px;
	/* there must be 'right' or 'left' for ps__rail-y */
	right: rem(8);

	@include media-breakpoint-up(md) {
		right: rem(16);
	}
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
	display: block;

	&::before {
		background-color: $color-white;
	}
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
}

/*
 * Scrollbar thumb styles
 */
.ps__thumb-x,
.ps__thumb-y {
	background-color: transparent;
	border-radius: 0;
	/* please don't change 'position' */
	position: absolute;

	&::before {
		content: '';
		position: absolute;
		border-radius: inherit;
		background-color: $color-primary;
	}
}

.ps__thumb-x {
	height: 100%;
	/* there must be 'bottom' for ps__thumb-x */
	bottom: 0;
}

.ps__thumb-y {
	width: 100%;
	/* there must be 'right' for ps__thumb-y */
	right: 0;
}

.ps__rail-x,
.ps__thumb-x {
	&::before {
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
}

.ps__rail-y,
.ps__thumb-y {
	&:before {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
}

/* MS supports */
@supports (-ms-overflow-style: none) {
	.ps {
		overflow: auto !important;
	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.ps {
		overflow: auto !important;
	}
}
