@import "~simplebar/dist/simplebar.css";

.simplebar-scrollbar {
	&::before {
		left: 0;
		right: 0;
		border-radius: 0;
		background-color: $color-primary;
	}

	&.simplebar-visible {
		&::before {
			opacity: 1;
		}
	}
}

.simplebar-track {
	&.simplebar-vertical {
		right: rem(8);
		width: 4px;
		background-color: $color-white;
		box-shadow: 0 0 10px rgba(36, 44, 50, 0.05);

		@include media-breakpoint-up(md) {
			right: rem(16);
		}
	}
}
