<div class="pagination-layout"{% if pagination_layout.attr %}{{ pagination_layout.attr }}{% endif %}
	 data-viewport-trigger>
    {% if pagination_layout.button %}
        <div class="pagination-layout__button" data-animate="fade-in-up">
            {% view '@button' with {
                button: pagination_layout.button
            } %}
        </div>
    {% endif %}
	{% if pagination_layout.text %}
		<div class="pagination-layout__text" data-animate="fade-in-up">
			<span>{{ pagination_layout.text }}</span>
		</div>
	{% endif %}
</div>
