<div class="action-banner bg-dark{{ action_banner.overlay? ' has-overlay' : '' }}" data-viewport-trigger data-parallax-banner>

	<div class="action-banner__img">
		{% view '@image-adaptive' with {
			image_adaptive: action_banner.image
		} %}
	</div>

	<div class="action-banner__wrap">

		<div class="action-banner__content">
			<div class="action-banner__title h3" data-animate="clip">{{ action_banner.title }}</div>
			<div class="action-banner__text" data-animate="clip">{{ action_banner.text }}</div>
		</div>

		<div class="action-banner__action" data-animate="fade-in-up" data-animate-delay="3">
			{% view '@button' with {
				button: action_banner.button
			} %}
		</div>

	</div>
</div>
