<div class="feature" data-viewport-trigger>
	<div class="feature__inner">
		{% if feature.icon %}
			<div class="feature__icon" data-animate="fade-in-up">
				{% view '@icon' with {
					icon: feature.icon|merge({
						size: "large"
					})
				}%}
			</div>
		{% endif %}
		<div class="feature__content">
			{% if feature.heading %}
				<div class="feature__head h5" data-animate="fade-in-up" data-animate-delay="1">{{ feature.heading }}</div>
			{% endif %}
			{% if feature.content.text %}
				<div class="feature__text" data-animate="fade-in-up" data-animate-delay="2">{{ feature.content.text }}</div>
			{% endif %}
			{% if feature.content.link_list %}
				<div class="feature__link-list" data-animate="fade-in-up" data-animate-delay="3">
					{% for item in feature.content.link_list %}
						<a href="{{ item.href }}" class="text-link-disappear" {% if item.attr %}{{ item.attr }}{% endif %}>{{ item.text }}</a>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</div>
</div>
