.feature {
	width: 100%;

	&__inner {
		display: flex;
		flex-direction: column;

		@include media-breakpoint-only(md) {
			flex-direction: row;
		}
	}

	&__icon {
		margin-bottom: rem(16);

		@include media-breakpoint-only(md) {
			margin-bottom: 0;
			margin-right: rem(40);
		}

		@include media-breakpoint-up(lg) {
			margin-bottom: rem(40);
		}
	}

	&__head {
		@include h5;
		margin-bottom: rem(16);
	}

	&__text {
		@include text-default;
	}

	&__link-list {
		margin-top: rem(16);
		display: flex;
		flex-direction: column;

		a {
			align-self: flex-start;
			@include text-default;
			&:not(:last-child) {
				margin-bottom: rem(8);
			}
		}
	}
}
