.tippy-box {
  border-radius: 0;
	box-shadow: 0 8px 22px 8px rgba($color-dark, 0.05);

  .tippy-content {
    @include text-small;
    padding: rem(8) rem(16);

    @include media-breakpoint-up(md) {
      padding: rem(16) rem(24);
    }
  }
}

@import "tooltip-white-theme";
@import "tooltip-light-theme";
