.tippy-box[data-theme='tooltip-white'] {
  background-color: $color-white;
  color: $color-dark;

	// если будут необходимы стрелки
  //&[data-placement^='top'] {
  //  .tippy-arrow {
  //    border-top-color: $color-white;
  //  }
  //}

  //&[data-placement^='bottom'] {
  //  .tippy-arrow {
  //    border-bottom-color: $color-white;
  //  }
  //}

  //&[data-placement^='left'] {
  //  .tippy-arrow {
  //    border-left-color: $color-white;
  //  }
  //}

  //&[data-placement^='right'] {
  //  .tippy-arrow {
  //    border-right-color: $color-white;
  //  }
  //}
}
