.section-odds {
	position: relative;

	@include media-breakpoint-only(sm) {
		padding-top: 12.5vh;
		padding-left: $col-1-of-12;
		padding-right: $col-1-of-12;
		padding-bottom: 30vh;
	}

	@include media-breakpoint-only(md) {
		padding-top: 17vh;
		padding-left: $col-4-of-24;
		padding-right: $col-1-of-24;
		padding-bottom: calc(22vh - #{rem(64)});
	}

	@include media-breakpoint-up(lg) {
		padding-top: 18vh;
		padding-left: $col-3-of-24;
		padding-bottom: 28vh;
		display: flex;
		flex-wrap: wrap;
	}

	&__heading {
		@include media-breakpoint-only(sm) {
			margin-bottom: rem(80);
		}

		@include media-breakpoint-only(md) {
			margin-bottom: rem(96);
		}

		@include media-breakpoint-up(lg) {
			width: 66.7%;
			padding-right: $col-4-of-24;
		}
	}

	&__slider {
		width: 100%;

		@include media-breakpoint-up(lg) {
			padding-left: $col-1-of-24;

			&:not(:first-child) {
				margin-top: rem(144);
			}
		}

		.swiper-container {
			@include media-breakpoint-up(lg) {
				padding-right: $col-2-of-24;
			}
		}

		.swiper-wrapper {
			@include media-breakpoint-only(md) {
				html:not(.is-ie) & {
					display: grid;
					grid-template-rows: auto auto;
					grid-auto-columns: 1fr;
					grid-auto-flow: column;
				}
				// Единственный вариант для IE оставить другой порядок элементов в строку:
				// 1 2 3
				// 4 5 6
				.is-ie & {
					flex-direction: row;
				}
			}
		}

		.swiper-slide {
			@include media-breakpoint-only(md) {
				padding-bottom: rem(64);
				padding-right: $col-6-of-24;
			}

			@include media-breakpoint-up(lg) {
				padding-right: $col-2-of-24;
			}
		}
	}

	&__nav {
		display: flex;

		@include media-breakpoint-down(md) {
			width: 100%;
			position: absolute;
		}

		@include media-breakpoint-only(sm) {
			left: $col-1-of-24;
			bottom: rem(64);
			justify-content: flex-start;
		}

		@include media-breakpoint-only(md) {
			right: $col-1-of-24;
			bottom: rem(80);
			justify-content: flex-end;
		}

		@include media-breakpoint-up(lg) {
			margin-right: 0;
			margin-left: auto;
			padding-bottom: rem(16);
			width: 33.3%;
			align-items: flex-end;
		}
	}
}
