<div class="search-results-layout wrap-l-1 wrap-r-1 pt-64 pt-lg-32 pb-64 pb-md-96">
	<div class="search-results-layout__main">
		{% if content.result_list %}
			{% view '&search-result-item-list' with {
				list: content.result_list
			} %}
		{% endif %}
		{% if content.pagination_layout %}
			<div class="mt-40 mt-md-64">
				{% view '&pagination-layout' with {
					pagination_layout: content.pagination_layout
				} %}
			</div>
		{% endif %}
	</div>
	<div class="search-results-layout__sidebar">
		{% if content.popular_list.heading %}
			<div class="search-results-layout__sidebar-head" data-animate>{{ content.popular_list.heading }}</div>
		{% endif %}
		{% if content.popular_list.items %}
			<ul class="search-results-layout__sidebar-item-list" data-animate>
				{% for item in content.popular_list.items %}
					<li class="search-results-layout__sidebar-item">
						{% if item.href %}
							<a href="{{ item.href }}">{{ item.text }}</a>
						{% else %}
							<span>{{ item.text }}</span>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
</div>
