.search-results-layout {
	display: flex;
	flex-direction: column;

	@include media-breakpoint-up(lg) {
		flex-direction: row;
	}

	&__main {
		@include media-breakpoint-down(md) {
			order: 2;
		}

		@include media-breakpoint-up(lg) {
			flex-shrink: 1;
			flex-grow: 1;
			width: calc(100vw / 24 * 12);
			margin-right: $col-2-of-24;
		}
	}

	&__sidebar {
		margin-bottom: rem(16);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(48);
		}
		@include media-breakpoint-up(lg) {
			flex-shrink: 0;
			flex-grow: 0;
			width: calc(100vw / 24 * 5);
			margin-bottom: 0;
			padding-top: rem(88);
		}

		&-head {
			@include h4;
			margin-bottom: rem(48);
		}

		&-item-list {
			margin: 0;
			padding: 0;
			list-style: none;
			column-count: 2;

			@include media-breakpoint-up(lg) {
				column-count: 1;
			}
		}

		&-item {
			&:not(:last-child) {
				margin-bottom: rem(24);
			}

			a, span {
				color: currentColor;
				text-decoration: none;
				@include text-default;
				transition: color $timing $easing;
			}

			a:hover {
				color: $color-primary;
			}
		}
	}
}
