.search-form {
	display: flex;
	width: 100%;

	&__input {
		flex-shrink: 1;
		width: 100%;
		height: rem(64);
		border: none;
		border-bottom: 2px solid rgba($color-black, .2);
		background-color: transparent;
		@include h2;
		padding: 0;
		border-radius: 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		@include media-breakpoint-up(lg) {
			margin-right: rem(56);
		}

		&-wrap {
			width: 100%;
			padding-right: rem(32);
		}

		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			color: $color-gray;
		}

		&::-moz-placeholder { /* Firefox 19+ */
			color: $color-gray;
		}

		&:-ms-input-placeholder { /* IE 10+ */
			color: $color-gray;
		}

		&:-moz-placeholder { /* Firefox 18- */
			color: $color-gray;
		}

		&:focus,
		&:hover {
			outline: none;
		}
	}

	&__button {
		padding: 0;
		flex-shrink: 0;
		border: none;
		background-color: transparent;
	}
}
