.card-publication {
	$b: #{&};
	position: relative;
	z-index: 10;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-decoration: none !important;
	@include text-default;
	background-color: $color-white;
	color: $color-dark;
	@include defaultTransition(transform, box-shadow, color);

	@include media-breakpoint-only(sm) {
		padding: rem(24) rem(30);
		height: rem(280);
	}

	@include media-breakpoint-up(md) {
		height: rem(368);
	}

	@include media-breakpoint-only(md) {
		padding: rem(40) rem(32);
	}

	@include media-breakpoint-up(lg) {
		padding: rem(40) rem(40) rem(32);
	}

	&__image {
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: $color-dark;
		opacity: 0;
		transition: opacity 0.5s $easing;

		.image {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			background-size: cover;
			background-position: center;
			opacity: 0.4;
		}
	}

	&__top {
	}

	&__bottom {
	}


	&__tag {
		@include text-label;
	}

	&__text {
		@include line-clamp(12, 1.33, 6);

		@include media-breakpoint-up(md) {
			font-size: rem(16);
			max-height: rem(16 * 1.5 * 6);
			line-height: 1.5;
		}
	}

	&__note {
		margin-top: rem(24);
		color: $color-primary;

		&:not(:last-child) {
			margin-right: rem(8);
		}
	}

	&__link {
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: block;

		&:focus {
			outline: none;
		}
	}


	&:focus-within,
	&:hover {
		@include card-translate-hover;
	}

	&--image {
		&:focus-within,
		&:hover {
			color: $color-white;

			#{$b}__image {
				opacity: 1;
			}

			#{$b}__note {
				color: inherit;
			}
		}
	}
}

a.card-publication__tag {
	position: relative;
	z-index: 5;
	color: inherit;
	text-decoration: none !important;
	@include line-animate-in;

	&:focus,
	&:hover {
		outline: none;
	}
}
