<fieldset class="file-upload file-upload--{{ field.size ?: 'default' }} file-upload--{{ field.theme ?: 'white' }}
{% if field.class %} {{ field.class }}{% endif %}">
	<label for="{{ field.id }}" class="file-upload__label btn">
		{% if field.text %}
			<span class="file-upload__text">{{ field.text }}</span>
		{% endif %}
		<span class="file-upload__size"></span>
		<span class="file-upload__label-icon">
			<span class="file-upload__label-icon-default">
				{% view	'@icon' with {
					icon: {
						name: "24/paperclip"
					}
				} %}
			</span>
			<span class="file-upload__label-icon-remove">
				{% view	'@icon' with {
					icon: {
						name: "24/close"
					}
				} %}
			</span>
		</span>
	</label>

	<input type="file" class="file-upload__input" name="{{ field.name }}"
		   id="{{ field.id }}"{% if field.accept %} accept="{{ field.accept }}"{% endif %}
		{% if field.attr %} accept="{{ field.attr }}"{% endif %}
		{% if field.required %} required{% endif %}>
	<div class="input-status">
		{% view '@hint' with {
			hint: {
				mark: {
					text: '!',
					theme: 'red'
				},
				tooltip: {
					theme: 'white',
					placement: 'bottom-end'
				}
			}
		} %}
	</div>
</fieldset>
