.file-upload {
  position: relative;
  padding: 0;
	$root: &;

  &__input {
    // visually hide input file element
    @include visually-hidden;
    width: 1px;
    height: 1px;
  }

  &__label {
    padding: 0;
    border-radius: 0;
		display: flex;
		width: 100%;
		border: 2px solid transparent;
		color: $color-dark;
		@include text-default(false);
		@include defaultTransition(color, border);
  }

  &__label-icon {
		position: relative;
    width: rem(24);
    height: rem(24);
		margin-left: auto;
		pointer-events: none;

		&-default {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			@at-root .uploaded & {
				opacity: 0;
			}
		}

		&-remove {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;

			@at-root .uploaded & {
				opacity: 1;
			}
		}

    svg {
      width: 100%;
      height: 100%;
    }
  }

	&__size {
		flex-shrink: 0;
	}

  &__button-remove {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: rem(24);
    height: rem(24);
    opacity: 0;
    pointer-events: none;

    @at-root .uploaded & {
      opacity: 1;
      pointer-events: auto;
      z-index: 2;
    }
  }

  &__text {
    max-width: rem(250);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
		margin-right: rem(16);
  }

	&--default {
		#{$root}__label {
			padding: rem(22) rem(24) rem(22) rem(38);

			@include media-breakpoint-only(sm) {
				padding-right: rem(40);
			}
		}
	}

	&--small {
		#{$root}__label {
			padding: rem(10) rem(48) rem(10) rem(22);

			@include media-breakpoint-only(sm) {
				padding-right: rem(32);
			}
		}
	}

	&--white {
		#{$root}__label {
			background-color: $color-white;
		}
	}

	&--light {
		#{$root}__label {
			background-color: $color-light;
		}
	}

	&:focus {
		#{$root}__label {
			outline: none;
		}
	}

	&:hover,
	&:focus {
		#{$root}__label {
			border-color: $color-primary;
		}
	}
}
