{% if card.href %}
	<a href="{{ card.href }}" class="card-direction">
		{% include '@molecules/card-direction/inner.twig' %}
	</a>
{% else %}
	<div class="card-direction">
		{% include '@molecules/card-direction/inner.twig' %}
	</div>
{% endif %}
