<div class="card-direction__top">
	<div class="card-direction__heading h5">{{ card.heading|raw }}</div>
	{% if card.icon %}
		<div class="card-direction__icon">
			{% view '@icon' with {
				icon: card.icon|merge({
					size: "large"
				})
			} %}
		</div>
	{% endif %}
</div>
<div class="card-direction__notes">
	{% for note in card.notes %}
		<div class="card-direction__notes-item">{{ note.text|raw }}</div>
	{% endfor %}
</div>
