.modal {
	position: relative;
	height: 100%;
	justify-content: center;
	display: inline-flex;
	overflow: hidden;
	$root: &;

	.mfp-close {
		display: flex;
		align-items: center;
		justify-content: center;
		top: rem(32);
		right: rem(32);
		width: rem(24);
		height: rem(24);
		font-size: 0;

		@include media-breakpoint-up(md) {
			top: rem(64);
			right: rem(64);
		}

		svg {
			width: 100%;
			height: 100%;
			pointer-events: none;
		}
	}

	&__head {
		display: inline-flex;
		flex-wrap: wrap;
		align-self: flex-start;
		margin-bottom: rem(32);
		flex-shrink: 0;

		@include media-breakpoint-up(md) {
			margin-bottom: rem(48);
		}

		@include media-breakpoint-up(lg) {
			margin-bottom: rem(56);
		}

		& > span {
			width: 100%;
		}

		#{$root}:not(#{$root}--message) & {
			padding-right: $col-1-of-12;
			@include media-breakpoint-up(md) {
				padding-right: $col-2-of-24;
			}
		}
	}

	&__content {
		width: 100vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: rem(88) 0 0 $col-1-of-12;
		height: 100%;


		@include media-breakpoint-up(md) {
			padding: rem(64) 0 rem(64) $col-4-of-24;
		}

		@include media-breakpoint-up(lg) {
			width: calc(100vw / 24 * 17);
			padding: rem(16) 0 rem(16) $col-2-of-24;
		}

		& > div {
			position: relative;
			overflow: auto;
			@include media-breakpoint-only(sm) {
				padding-right: $col-1-of-12;
				padding-bottom: rem(88);
			}
			@include media-breakpoint-up(md) {
				padding-right: $col-2-of-24;
			}
			.ps__rail-y,
			.ps__thumb-y {
				&::before {
					@include media-breakpoint-down(sm) {
						bottom: rem(88);
					}
				}
			}
		}
	}

	&--message {
		min-height: auto;

		#{$root}__head {
			max-width: rem(320);
		}

		#{$root}__text {
			max-width: rem(540);
		}

		#{$root}__content {
			padding: rem(88) $col-1-of-12;


			@include media-breakpoint-up(md) {
				padding: rem(64) $col-2-of-24 rem(64) $col-4-of-24;
			}

			@include media-breakpoint-up(lg) {
				width: calc(100vw / 24 * 17);
				padding: rem(96) $col-2-of-24;
			}
		}
	}
}

.mfp-wrap {
	z-index: 991;
}

.mfp-container {
	padding: 0;
}

.mfp-content {
	height: 100%;
}

.mfp-bg {
	background: transparent;
	pointer-events: none;
}

.mfp-move-from-right {
	.mfp-content {
		display: inline-flex;
		justify-content: flex-end;
		vertical-align:top;
	}

	/* start state */
	.mfp-with-anim {
		//opacity: 0;
		transition: all $timing $easing;

		transform: translate3d(100%, 0, 0);
	}

	/* animate in */
	&.mfp-ready {
		.mfp-with-anim {
			transform: translate3d(0, 0, 0);
		}

		.modal {
			box-shadow: -10px 0px 20px 0px rgba(0,0,0,0.1);
		}
	}

	/* animate out */
	&.mfp-removing {

		.mfp-with-anim {
			transform: translate3d(100%, 0, 0);
		}

		.modal {
			box-shadow: unset;
		}
	}

}
