.hero-default {
	position: relative;
	padding-left: rem(30);
	padding-right: rem(30);
	min-height: rem(360);
	@include media-breakpoint-up(md) {
		padding-left: $col-4-of-24;
		padding-right: $col-1-of-24;
		min-height: rem(570);
	}
	@include media-breakpoint-up(lg) {
		padding-left: $col-3-of-24;
		padding-right: $col-1-of-24;
		min-height: rem(430);
	}
	&__image {
		position: absolute;
		pointer-events: none;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;
		overflow: hidden; // For parallax
		@include media-breakpoint-up(md) {
			left: rem($aside-width);
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			background-size: cover;
		}
		@at-root .has-overlay & {
			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: $color-black;
				opacity: .4;
				pointer-events: none;
			}
		}
	}
	&__wrap {
		padding-top: rem(120);
		padding-bottom: rem(40);
		min-height: rem(360);
		position: relative;
		@include media-breakpoint-up(md) {
			min-height: rem(568);
			padding-top: rem(200);
			padding-bottom: rem(32);
		}
		@include media-breakpoint-up(lg) {
			padding-top: rem(160);
			padding-bottom: rem(40);
			min-height: rem(432);
		}
	}
	&__inner {
		display: flex;
		flex-wrap: wrap;
		@include media-breakpoint-down(md) {
			flex-direction: column;
		}
	}
	&__breadcrumb {
		margin-bottom: rem(8);
		width: 100%;
		flex: 0 0 auto;
	}
	&__left {
		@include media-breakpoint-up(lg) {
			width: 70%;
		}
	}
	&__actions {
		@include media-breakpoint-down(md) {
			margin-top: rem(40);
		}
		@include media-breakpoint-up(lg) {
			margin-left: auto;
			width: 25%;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-start;
		}
	}
	&__heading {
		display: inline-block;
		margin-bottom: rem(24);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(32);
		}
	}
	&__text {
		@include line-clamp(12, 1.3, 5);
		@include media-breakpoint-up(md) {
			max-width: rem(500);
			@include line-clamp(16, 1.5, 3);
		}
	}

	.search-bar {
		position: absolute;
		left: 0;
		top: rem(72);
		transform: translate3d(-100%, 0, 0);

		@at-root .is-loaded & {
			transition: transform $timing $easing;
		}

		@include media-breakpoint-up(md) {
			top: rem(112);
		}
	}

	.hero-top-bar--search-open ~ .search-bar{
		transform: translate3d(0, 0, 0);
	}
}
