<section class="hero-default{% if hero.bg_color %} bg-{{ hero.bg_color }}{% else %} bg-dark{% endif %}{{ hero.overlay? ' has-overlay' : '' }}" data-viewport-trigger>
	{% view	'^hero-top-bar' %}
	{% if hero.bg %}
		<div class="hero-default__image" data-parallax-hero>
			{% view '@image-adaptive' with {
				image_adaptive: hero.bg
			} %}
		</div>
	{% endif %}
	<div class="hero-default__wrap">
		<div class="hero-default__inner">
			<div class="hero-default__breadcrumb">
				{% view '^breadcrumb' with {
					breadcrumb: hero.breadcrumb
				} %}
			</div>
			<div class="hero-default__left">
				<h1 class="hero-default__heading h1" data-animate="clip">{{ hero.heading }}</h1>
				{% if hero.text %}
					<div class="hero-default__text text-default user-text" data-animate="fade-in-up" data-animate-delay="1">{{ hero.text }}</div>
				{% endif %}
			</div>
			<div class="hero-default__actions" data-animate="fade-in-up" data-animate-delay="2">
				{% for action in hero.actions %}
					{% view '@button' with {
						button: action
					} %}
				{% endfor %}
			</div>
		</div>
	</div>
	{% view '&search-bar' %}
</section>
