<div class="block-text-factor-image {% if block.background_color %} bg-{{ block.background_color }}{% else %} bg-white{% endif %}" data-viewport-trigger {{ block.attr }}>
	<div class="block-text-factor-image__content">
		<div class="block-text-factor-image__content-left">
			{% if block.content.text %}
				<div class="user-text" data-animate-user-text>{{ block.content.text }}</div>
			{% endif %}
			{% if block.content.factor_list %}
				<div class="block-text-factor-image__factor-list">
					{% view '&factor-list' with {
						factor_list: block.content.factor_list
					} %}
				</div>
			{% endif %}
		</div>
		<div class="block-text-factor-image__content-right" data-animate="clip" data-animate-delay="2">
			{% if block.content.image %}
				{% view '@image-adaptive' with {
					image_adaptive: block.content.image
				} %}
			{% endif %}
		</div>
	</div>
</div>
