<div class="banner{% if banner.right %} banner--right{% endif %} bg-dark{{ banner.overlay? ' has-overlay' : '' }}" {{ banner.attr }}>

		<div class="banner__img" data-parallax-banner>
			{% view '@image-adaptive' with {
				image_adaptive: banner.image
			} %}
		</div>

		<div class="banner__wrap" data-viewport-trigger>

			<div class="banner__content">
				<div class="banner__title h3" data-animate="clip" data-animate-time="10">{{ banner.title }}</div>
				<div class="banner__text" data-animate="clip" data-animate-delay="1" data-animate-time="10">{{ banner.text }}</div>
			</div>

			<div class="banner__action" data-animate="fade-in-up" data-animate-delay="3">
				{% view '@button' with {
					button: banner.button
				} %}
			</div>

		</div>

</div>
