.banner {
	$b: #{&};

	position: relative;
	margin-left: $col-3-of-24;;
	padding: rem(96) rem(200) rem(136) rem(120);
	overflow: hidden;

	@include media-breakpoint-down(md) {
		margin-left: $col-4-of-24;
		padding: rem(128) rem(64);
	}

	@include media-breakpoint-down(sm) {
		margin-left: 0;
		padding: rem(56) rem(30) rem(64);
	}

	&__img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		img {
			position: absolute; // For parallax
			bottom: -10%; // For parallax
			width: 100%;
			height: 100%;
			min-height: 120%; // For parallax
			object-position: 70%; // For parallax
			object-fit: cover;

			@include media-breakpoint-down(md) {
				bottom: -20%; // For parallax
				min-height: 140%; // For parallax
				object-position: 0;
			}
		}

		@at-root .has-overlay & {
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: $color-graphite;
				opacity: 0.4;
			}
		}
	}

	&__content {
		position: relative;
	}

	&__title {
		max-width: rem(420);
		margin-bottom: rem(32);

		@include media-breakpoint-down(md) {
			max-width: 100%;
			margin-bottom: rem(32);
		}
	}

	&__text {
		max-width: rem(420);
		line-height: rem(24);
		@include line-clamp(16, 1.5, 5);

		@include media-breakpoint-down(md) {
			max-width: 100%;
		}

		@include media-breakpoint-down(sm) {
			font-size: rem(12);
			line-height: rem(16);
			@include line-clamp(12, 1.33, 7);
		}
	}

	&__action {
		position: relative;
		margin-top: rem(48);

		.btn {
			padding-left: rem(40);
			padding-right: rem(40);
		}
	}

	&--right {
		padding: rem(96) 0 rem(136) 0;

		@include media-breakpoint-down(md) {
			padding: rem(128) rem(64);
		}

		@include media-breakpoint-down(sm) {
			padding: rem(56) rem(30) rem(64);
		}

		#{$b}__wrap {
			padding-left: 52.38%;

			@include media-breakpoint-down(md) {
				padding-left: 0;
			}
		}

		#{$b}__img {
			img {
				object-position: 30%;
				@include media-breakpoint-down(md) {
					object-position: 0;
				}
			}
		}
	}
}
